{{#if (has-block "submenu")}}
	<TwyrBasicDropdown
		@customComponents={{hash
			trigger=(component this.itemTriggerComponent)
			content=(component this.itemListComponent menu=@menu parentMenuItem=this registerWithMenu=@registerWithMenu triggerEvent=@triggerEvent)
		}}
		@equalTriggerContentWidth={{false}}

		@xAlign={{@xAlign}}
		@xOffset={{if @parentMenuItem "100" "0"}}

		@yAlign="bottom"
		@yOffset={{if @parentMenuItem "-100" "0"}}

		@reactEvent={{@triggerEvent}}

		@setControls={{this.setDropdownControls}}
		@setStatus={{this.setDropdownStatus}}

		{{on "mouseenter" this.handleMouseEnter}}
		{{on "mouseleave" this.handleMouseLeave}}

		{{store-element this.storeElement}}
	>
		<:trigger as |Trigger|>
			<Trigger ...attributes>
				{{#if @parentMenuItem}}
					{{#if (eq @xAlign "right")}}
						<TwyrIcon class="mr-2" @icon="caret-left" />
					{{else}}
						<TwyrIcon class="mr-2 invisible" @icon="caret-left" />
					{{/if}}
				{{/if}}

				{{yield}}

				{{#if @parentMenuItem}}
					{{#if (eq @xAlign "left")}}
						<TwyrIcon class="flex-grow ml-2" @icon="caret-right" />
					{{else}}
						<TwyrIcon class="flex-grow ml-2 invisible" @icon="caret-right" />
					{{/if}}
				{{/if}}
			</Trigger>
		</:trigger>

		<:content as |Content|>
			{{yield Content to="submenu"}}
		</:content>
	</TwyrBasicDropdown>
{{else}}
	<TwyrButton
		class="twyr-menu-item text-button"
		@stopPropagation={{false}}

		{{on "click" this.closeMenu}}
		{{store-element this.storeElement}}

		...attributes
	>
		{{#if @parentMenuItem}}
			<TwyrIcon @icon="caret-left" class="mr-2 invisible" />
		{{/if}}

		{{yield}}

		{{#if @parentMenuItem}}
			<TwyrIcon @icon="caret-right" class="flex-grow ml-2 invisible" />
		{{/if}}
	</TwyrButton>
{{/if}}
