@layer components {
	.patternfly .twyr-button,
	.twyr-button.patternfly {
		@apply px-4 py-1.5;
		@apply rounded;

		&[disabled] {
			@apply border-0;
			@apply bg-gray-400 text-gray-700;
			@apply pointer-events-none;
		}

		&.outline-button {
			@apply border;

			&.black {
				@apply border-black text-black;
			}

			&.darkest {
				@apply border-darkest text-darkest;
			}

			&.darker {
				@apply border-darker text-darker;
			}

			&.dark {
				@apply border-dark text-dark;
			}

			&.light {
				@apply border-light text-light;
			}

			&.lighter {
				@apply border-lighter text-lighter;
			}

			&.lightest {
				@apply border-lightest text-lightest;
			}

			&.white {
				@apply border-white text-black;
			}

			&.primary {
				@apply border-primary text-primary;
			}

			&.secondary {
				@apply border-secondary text-secondary;
			}

			&.tertiary {
				@apply border-tertiary text-tertiary;
			}

			&.success {
				@apply border-success text-success;
			}

			&.info {
				@apply border-info text-info;
			}

			&.warning {
				@apply border-warning text-warning;
			}

			&.error {
				@apply border-error text-error;
			}

			&:not([disabled]) {
				&:hover {
					@apply ring-1 ring-current;
				}

				&:focus {
					@apply ring-1 ring-current;
				}
			}
		}
	}
}
