/* stylelint-disable at-rule-no-unknown */
@layer utilities {
	@variants responsive {
		.animate-spin::before {
			animation: spin 1s infinite linear;
		}

		.animate-spin::after {
			animation: spin 1s infinite linear;
		}

		.animate-spin-reverse::before {
			animation: spin-reverse 1s infinite linear;
		}

		.animate-spin-reverse::after {
			animation: spin-reverse 1s infinite linear;
		}
	}
}
