@layer components {
	.twyr-breadcrumb-container {
		--divider-symbol: ">";

		@apply min-w-full w-full max-w-full;
		@apply flex flex-row justify-start content-center items-center;
		@apply list-none;

		&:empty {
			@apply hidden;
		}

		& .twyr-breadcrumb {
			&:first-of-type {
				@apply mr-2;
			}

			&:not(:first-of-type) {
				@apply pl-2;
			}

			&:last-of-type {
				@apply ml-2;
			}

			&:not(:first-of-type):not(:last-of-type) {
				@apply mx-2;
			}

			&:not(:first-of-type)::marker {
				content: var(--divider-symbol);
			}
		}
	}
}
