@layer components {
	.twyr-button {
		@apply inline-block;
		@apply relative;
		@apply m-0 border-0 p-0;
		@apply text-xs lg:text-sm text-center;
		@apply font-medium;
		@apply no-underline normal-case;
		@apply align-middle break-words overflow-hidden overflow-ellipsis;
		@apply outline-none;

		&:focus {
			@apply outline-none;
		}

		&.text-button {
			&.black {
				@apply text-black;
			}

			&.darkest {
				@apply text-darkest;
			}

			&.darker {
				@apply text-darker;
			}

			&.dark {
				@apply text-dark;
			}

			&.light {
				@apply text-light;
			}

			&.lighter {
				@apply text-lighter;
			}

			&.lightest {
				@apply text-lightest;
			}

			&.white {
				@apply text-white;
			}

			&.primary {
				@apply text-primary;
			}

			&.secondary {
				@apply text-secondary;
			}

			&.tertiary {
				@apply text-tertiary;
			}

			&.success {
				@apply text-success;
			}

			&.info {
				@apply text-info;
			}

			&.warning {
				@apply text-warning;
			}

			&.error {
				@apply text-error;
			}
		}

		&.outline-button {
			@apply border;

			&.black {
				@apply text-black;
			}

			&.darkest {
				@apply text-darkest;
			}

			&.darker {
				@apply text-darker;
			}

			&.dark {
				@apply text-dark;
			}

			&.light {
				@apply text-light;
			}

			&.lighter {
				@apply text-lighter;
			}

			&.lightest {
				@apply text-lightest;
			}

			&.white {
				@apply text-black;
			}

			&.primary {
				@apply text-primary;
			}

			&.secondary {
				@apply text-secondary;
			}

			&.tertiary {
				@apply text-tertiary;
			}

			&.success {
				@apply text-success;
			}

			&.info {
				@apply text-info;
			}

			&.warning {
				@apply text-warning;
			}

			&.error {
				@apply text-error;
			}
		}

		&.filled-button {
			&.black {
				@apply bg-black text-white;
			}

			&.darkest {
				@apply bg-darkest text-lightest;
			}

			&.darker {
				@apply bg-darker text-lighter;
			}

			&.dark {
				@apply bg-dark text-light;
			}

			&.light {
				@apply bg-light text-dark;
			}

			&.lighter {
				@apply bg-lighter text-darker;
			}

			&.lightest {
				@apply bg-lightest text-darkest;
			}

			&.white {
				@apply bg-white text-black;
			}

			&.primary {
				@apply bg-primary;
			}

			&.secondary {
				@apply bg-secondary;
			}

			&.tertiary {
				@apply bg-tertiary;
			}

			&.success {
				@apply bg-success;
			}

			&.info {
				@apply bg-info;
			}

			&.warning {
				@apply bg-warning;
			}

			&.error {
				@apply bg-error;
			}
		}
	}
}
