@layer components {
	.material .twyr-sidebar,
	.twyr-sidebar.material {
		&.left {
			&.open {
				@apply elevation-2;
				@apply rounded-r;
			}
		}

		&.right {
			&.open {
				@apply elevation-2;
				@apply rounded-l;
			}
		}

		&.bottom {
			&.open {
				@apply elevation-2;
				@apply rounded-t;
			}
		}

		& > .twyr-sidebar-header {
			& > .twyr-sidebar-header-icon {
				@apply hidden;
			}
		}

		& > .twyr-sidebar-content {
			@apply p-8;
		}
	}
}
