@layer components {
	.material .twyr-button,
	.twyr-button.material {
		@apply font-semibold;

		&.outline-button {
			@apply border;
			@apply border-gray;
		}

		&.icon-button {
			@apply p-2;
			@apply rounded-full;

			& i {
				@apply w-6 h-6;

				font-size: 1.5rem;
				line-height: 1.5rem;
			}
		}

		&:not(.icon-button) {
			@apply px-4 py-2;
			@apply rounded;

			min-width: 3rem;
		}

		&.filled-button {
			&.raised:not([disabled]) {
				@apply elevation-6;

				&:hover {
					@apply elevation-8;
				}
			}
		}

		&[disabled] {
			@apply border-0;
			@apply bg-gray-400 text-gray-700;
			@apply pointer-events-none;
		}
	}
}
