@layer base {
	.ember-application {
		@apply relative;
		@apply box-border;
		@apply m-0 border-0 p-0;
		@apply font-sans font-normal subpixel-antialiased;
		@apply text-sm md:text-base;

		color: var(--twyr-colour-gray-900);
	}
}
