@layer base {
	@keyframes remove-ripple {
		0% {
			opacity: 0.15;
		}

		100% {
			opacity: 0;
		}
	}

	.material .ripple-container,
	.tailwind .ripple-container,
	.ripple-container.material,
	.ripple-container.tailwind {
		@apply absolute overflow-hidden pointer-events-none min-w-full w-full max-w-full min-h-full h-full max-h-full transition-all duration-500;

		top: 0;
		left: 0;
	}

	.material .ripple,
	.tailwind .ripple,
	.ripple.material,
	.ripple.tailwind {
		@apply absolute opacity-0 rounded-full;

		transform: translate(-50%, -50%) scale(0);
		transform-origin: 50% 50%;

		&.ripple-placed {
			@apply duration-700 ease-in-out transition-all;
		}

		&.ripple-scaled {
			transform: translate(-50%, -50%) scale(1);
		}

		&.ripple-active,
		&.ripple-full,
		&.ripple-visible {
			opacity: 0.2;
		}

		&.ripple-remove {
			animation: remove-ripple 0.9s cubic-bezier(0.25, 0.8, 0.25, 1);
		}
	}
}
