@layer components {
	.twyr-sidebar {
		--transition-interval: 300ms;

		@apply m-0 border-0 p-0;
		@apply flex flex-col justify-start content-start items-stretch;
		@apply overflow-hidden overflow-y-auto;
		@apply z-30;
		@apply transition-transform;
		@apply max-w-100-vw lg:max-w-50-vw xl:max-w-1/3-vw 2xl:max-w-20-vw;

		transition-duration: var(--transition-interval);

		&.left {
			@apply inset-0;

			right: initial;
			transform: translateX(-200%);

			&.open {
				transform: translateX(0);
			}
		}

		&.right {
			@apply inset-0;

			left: initial;
			transform: translateX(200%);

			&.open {
				transform: translateX(0);
			}
		}

		&.bottom {
			@apply inset-0;

			top: initial;
			transform: translateY(200%);

			&.open {
				transform: translateY(0);
			}
		}

		& > .twyr-sidebar-header {
			@apply flex flex-row flex-nowrap justify-start content-center items-center;

			& > .twyr-sidebar-header-text {
				@apply flex-grow;
				@apply truncate;
			}

			& > .twyr-sidebar-header-icon {
				@apply ml-4;
				@apply cursor-pointer;
			}
		}

		&.black {
			@apply border-black;
		}

		&.darkest {
			@apply border-darkest;
		}

		&.darker {
			@apply border-darker;
		}

		&.dark {
			@apply border-dark;
		}

		&.light {
			@apply border-light;
		}

		&.lighter {
			@apply border-lighter;
		}

		&.lightest {
			@apply border-lightest;
		}

		&.white {
			@apply border-white;
		}

		&.primary {
			@apply border-primary;
		}

		&.secondary {
			@apply border-secondary;
		}

		&.tertiary {
			@apply border-tertiary;
		}

		&.success {
			@apply border-success;
		}

		&.info {
			@apply border-info;
		}

		&.warning {
			@apply border-warning;
		}

		&.error {
			@apply border-error;
		}
	}
}
