<div
	id={{this.contentId}}
	class="twyr-basic-dropdown-content twyr-menu-item-list"

	{{on-args-change this.setNewPosition @xAlign @xOffset @yAlign @yOffset @matchTriggerWidth}}
	{{store-element this.storeElement}}

	...attributes
>
	{{yield (component this.itemComponent
		menu=@menu
		parentMenuItem=@parentMenuItem
		triggerEvent=@triggerEvent
		registerWithMenu=@registerWithMenu

		xAlign=@xAlign
		xOffset=@xOffset

		yAlign=@yAlign
		yOffset=@yOffset

		equalTriggerContentWidth=@equalTriggerContentWidth
	)}}
</div>
