<div class="twyr-card-header" ...attributes>
	<div class="flex flex-row justify-start content-center items-center">
		{{#if (has-block "leftThumbnail")}}
			{{yield (component this.thumbnailComponent) to="leftThumbnail"}}
		{{/if}}

		{{#if (has-block "leftMenu")}}
			{{yield (component this.menuComponent) to="leftMenu"}}
		{{/if}}

		{{#if (or (has-block "headline") (has-block "subheadline"))}}
			<article class="twyr-card-header-article">
				{{#if (has-block "headline")}}
					{{yield (component this.headlineComponent) to="headline"}}
				{{/if}}
				{{#if (has-block "subheadline")}}
					{{yield (component this.subHeadlineComponent) to="subheadline"}}
				{{/if}}
			</article>
		{{/if}}

		{{#if (has-block "rightThumbnail")}}
			{{yield (component this.thumbnailComponent) to="rightThumbnail"}}
		{{/if}}

		{{#if (has-block "rightMenu")}}
			{{yield (component this.menuComponent xAlign="right") to="rightMenu"}}
		{{/if}}
	</div>

	{{#if (has-block "text")}}
		<div class="twyr-card-header-text">
			{{yield to="text"}}
		</div>
	{{/if}}
</div>
