@layer components {
	.twyr-banner-container {
		@apply sticky;
		@apply min-w-full w-full max-w-full;
		@apply z-10;

		&:empty {
			@apply hidden;
		}

		& .twyr-banner {
			@apply flex flex-col justify-start content-center items-stretch;
			@apply bg-lightest border-t border-b shadow-sm;
			@apply mb-1 px-4 py-3;

			& .twyr-banner-content {
				@apply flex flex-row justify-start content-center items-center;
			}

			& .twyr-banner-footer {
				@apply flex flex-row justify-end content-center items-center;
				@apply mt-4;
			}

			&.black {
				@apply border text-black;
			}

			&.darkest {
				@apply border text-darkest;
			}

			&.darker {
				@apply border text-darker;
			}

			&.dark {
				@apply border text-dark;
			}

			&.light {
				@apply border text-light;
			}

			&.lighter {
				@apply border text-lighter;
			}

			&.lightest {
				@apply border text-lightest;
			}

			&.white {
				@apply border text-white;
			}

			&.primary {
				@apply border text-primary;
			}

			&.secondary {
				@apply border text-secondary;
			}

			&.tertiary {
				@apply border text-tertiary;
			}

			&.success {
				@apply border text-success;
			}

			&.info {
				@apply border text-info;
			}

			&.warning {
				@apply border text-warning;
			}

			&.error {
				@apply border text-error;
			}
		}
	}
}
