@layer components {
	.twyr-accordion {
		--transition-interval: 50ms;

		@apply m-0 border-0 rounded-sm p-0;
		@apply flex flex-col content-start items-stretch;

		& .twyr-accordion-item {
			@apply flex flex-col content-start items-stretch;
			@apply m-0 border-0 p-0 min-w-full w-full max-w-full;

			& > .twyr-accordion-item-trigger {
				& > .twyr-button {
					@apply flex flex-row justify-start content-center items-center;
					@apply min-w-full w-full max-w-full rounded-none;

					& > .twyr-accordion-item-trigger-icon {
						@apply xl:text-xl flex-grow text-right;
					}
				}
			}

			&.expanded > .twyr-accordion-item-content {
				@apply overflow-auto;
				@apply ease-in;

				max-height: 40000px;
				transition-duration: var(--transition-interval);
				transition-property: max-height, padding-top, padding-bottom;
			}

			&:not(.expanded) > .twyr-accordion-item-content {
				@apply overflow-hidden;
				@apply ease-out;
				@apply py-0;

				max-height: 0;
				transition-duration: var(--transition-interval);
				transition-property: max-height, padding-top, padding-bottom;
			}
		}

		&.black {
			@apply border-black;

			& .twyr-accordion-item {
				@apply border-black;
			}

			& .twyr-accordion-item > .twyr-accordion-item-trigger > .twyr-button {
				@apply text-black;
			}
		}

		&.darkest {
			@apply border-darkest;

			& .twyr-accordion-item {
				@apply border-darkest;
			}

			& .twyr-accordion-item > .twyr-accordion-item-trigger > .twyr-button {
				@apply text-darkest;
			}
		}

		&.darker {
			@apply border-darker;

			& .twyr-accordion-item {
				@apply border-darker;
			}

			& .twyr-accordion-item > .twyr-accordion-item-trigger > .twyr-button {
				@apply text-darker;
			}
		}

		&.dark {
			@apply border-dark;

			& .twyr-accordion-item {
				@apply border-dark;
			}

			& .twyr-accordion-item > .twyr-accordion-item-trigger > .twyr-button {
				@apply text-dark;
			}
		}

		&.light {
			@apply border-light;

			& .twyr-accordion-item {
				@apply border-light;
			}

			& .twyr-accordion-item > .twyr-accordion-item-trigger > .twyr-button {
				@apply text-light;
			}
		}

		&.lighter {
			@apply border-lighter;

			& .twyr-accordion-item {
				@apply border-lighter;
			}

			& .twyr-accordion-item > .twyr-accordion-item-trigger > .twyr-button {
				@apply text-lighter;
			}
		}

		&.lightest {
			@apply border-lightest;

			& .twyr-accordion-item {
				@apply border-lightest;
			}

			& .twyr-accordion-item > .twyr-accordion-item-trigger > .twyr-button {
				@apply text-lightest;
			}
		}

		&.white {
			@apply border-white;

			& .twyr-accordion-item {
				@apply border-white;
			}

			& .twyr-accordion-item > .twyr-accordion-item-trigger > .twyr-button {
				@apply text-white;
			}
		}

		&.primary {
			@apply border-primary;

			& .twyr-accordion-item {
				@apply border-primary;
			}

			& .twyr-accordion-item > .twyr-accordion-item-trigger > .twyr-button {
				@apply text-primary;
			}
		}

		&.secondary {
			@apply border-secondary;

			& .twyr-accordion-item {
				@apply border-secondary;
			}

			& .twyr-accordion-item > .twyr-accordion-item-trigger > .twyr-button {
				@apply text-secondary;
			}
		}

		&.tertiary {
			@apply border-tertiary;

			& .twyr-accordion-item {
				@apply border-tertiary;
			}

			& .twyr-accordion-item > .twyr-accordion-item-trigger > .twyr-button {
				@apply text-tertiary;
			}
		}

		&.success {
			@apply border-success;

			& .twyr-accordion-item {
				@apply border-success;
			}

			& .twyr-accordion-item > .twyr-accordion-item-trigger > .twyr-button {
				@apply text-success;
			}
		}

		&.info {
			@apply border-info;

			& .twyr-accordion-item {
				@apply border-info;
			}

			& .twyr-accordion-item > .twyr-accordion-item-trigger > .twyr-button {
				@apply text-info;
			}
		}

		&.warning {
			@apply border-warning;

			& .twyr-accordion-item {
				@apply border-warning;
			}

			& .twyr-accordion-item > .twyr-accordion-item-trigger > .twyr-button {
				@apply text-warning;
			}
		}

		&.error {
			@apply border-error;

			& .twyr-accordion-item {
				@apply border-error;
			}

			& .twyr-accordion-item > .twyr-accordion-item-trigger > .twyr-button {
				@apply text-error;
			}
		}
	}
}
