@layer components {
	.twyr-basic-dropdown {
		@apply relative bg-transparent;

		&[disabled] {
			@apply pointer-events-none;
		}

		&:not([disabled]) {
			& .twyr-basic-dropdown-trigger {
				@apply cursor-pointer;
			}
		}

		& .twyr-basic-dropdown-content {
			@apply absolute overflow-ellipsis z-10;
		}
	}
}
