@layer components {
	.patternfly .twyr-list-container,
	.twyr-list-container.patternfly {
		& > .twyr-list-toolbar {
			@apply content-start items-start;

			& > .twyr-list-toolbar-content {
				@apply content-start items-start;
			}
		}

		& > .twyr-list > .twyr-list-item {
			&.expanded {
				@apply border-l-4;
			}

			& > .twyr-list-item-trigger {
				@apply content-start items-start;

				& > .twyr-list-item-article {
					@apply flex flex-row content-start items-start;

					& .twyr-headline {
						@apply flex fw-50;
						@apply text-sm lg:text-base font-normal;
					}

					& .twyr-sub-headline {
						@apply flex fw-50;
						@apply prose font-normal text-sm;
					}
				}
			}
		}
	}
}
