<div class="twyr-accordion" ...attributes>
	{{yield (component this.itemComponent
		multipleOpen=this.isMultipleOpen
		accordion=this.accordionControls
		registerWithAccordion=this.registerAccordionItem
	)}}
</div>
