{{#in-element this.bannerContainerElement insertBefore=null}}
	<div
		class="twyr-banner"
		{{store-element this.storeElement}}

		...attributes
	>
		<div class="twyr-banner-content">
			{{#if (has-block "icon")}}
				{{yield (component this.iconComponent) to="icon"}}
			{{/if}}

			{{#if (has-block "text")}}
				<span>{{yield to="text"}}</span>
			{{/if}}
		</div>

		{{#if (has-block "footer")}}
			<div class="twyr-banner-footer">
				{{yield (component this.buttonComponent) to="footer"}}
			</div>
	{{/if}}
	</div>
{{/in-element}}
