{{#unless @actionMode}}
<a
	class="twyr-masthead-container-brand {{@position}}"
	href="#"
	...attributes
>
	{{#if (has-block "image")}}
		{{yield to="image"}}
	{{/if}}

	{{#if (has-block "icon")}}
		{{yield to="icon"}}
	{{/if}}

	{{#if (has-block "text")}}
	<span>
		{{yield to="text"}}
	</span>
	{{/if}}
</a>
{{/unless}}
