<div
	class="twyr-modal-header"
	...attributes
>
	{{#if (has-block "title")}}
		<TwyrHeadline class="twyr-modal-header-title">
			{{yield to="title"}}
		</TwyrHeadline>
	{{/if}}

	{{#if (has-block "close")}}
		<div class="twyr-modal-header-close">
			{{yield (component "twyr-icon" icon="close") to="close"}}
		</div>
	{{/if}}
</div>
