<nav
	class="twyr-masthead {{this.mastheadPosition}}"
	...attributes
>
	{{yield (component this.containerComponent
		actionMode=@actionMode
		actionBarBackground=@actionBarBackground
		fluid=@fluid
		position=this.mastheadPosition
	) to="container"}}
</nav>
