{{!-- template-lint-disable no-invalid-interactive --}}
{{#in-element this.parentElement insertBefore=null}}
	<TwyrBackdrop @fullScreen={{this.backgroundFullScreen}} />

	 <div
		class="twyr-modal-container"
		{{on "click" this.onClickOutside}}
	>
		<div
			class="twyr-modal"
			{{store-element this.storeElement}}
			{{on-args-change this.positionModal @xAlign @yAlign}}
			...attributes
		>
			{{#if (has-block "header")}}
				{{yield (component this.headerComponent) to="header"}}
			{{/if}}
			{{#if (has-block "body")}}
				{{yield (component this.bodyComponent) to="body"}}
			{{/if}}
			{{#if (has-block "footer")}}
				{{yield (component this.footerComponent) to="footer"}}
			{{/if}}
		</div>
	</div>
{{/in-element}}
