{{!-- template-lint-disable no-invalid-interactive --}}
<div
	class="twyr-backdrop {{this.positionClass}}"
	{{store-element this.storeElement}}

	{{on "click" this.onClick}}
	{{on "touchend" this.onClick}}

	...attributes
/>
