<div
	class="twyr-carousel {{this.direction}}"
	{{store-element this.storeElement}}
	...attributes
>
	<div class="twyr-carousel-container">
		{{yield (hash
			Item=(component this.itemComponent registerWithCarousel=this.registerItem unregisterWithCarousel=this.unregisterItem)
		)}}
	</div>

	{{#if @controls}}
		<TwyrCarousel::Controls
			@next={{this._navigateNext}}
			@prev={{this._navigatePrev}}
		 />
	{{/if}}

	{{#if (and @indicators this.inited)}}
		<TwyrCarousel::Indicators
			@items={{this.indicatorItems}}
			@moveTo={{this._navigateTo}}
		 />
	{{/if}}
</div>
