<div
	class="twyr-accordion-item"
	{{has-class-if this.expanded "expanded"}}
	{{store-element this.storeElement}}
	{{watch-design-system-change this.onDesignSystemChange}}

	...attributes
>
	<div class="twyr-accordion-item-trigger">
		<TwyrButton
			class="text-button"
			{{on "click" this.toggleState}}
		>
			{{#if (has-block "title")}}
				{{yield (component this.titleComponent) to="title"}}
			{{/if}}

			{{#if (and (eq this.designSystem "material") (has-block "subtitle"))}}
				<span class="twyr-accordion-item-trigger-text"> {{yield to="subtitle"}} </span>
			{{/if}}

			{{#if (not-eq this.designSystem "patternfly")}}
				{{#if this.expanded}}
					<TwyrIcon class="twyr-accordion-item-trigger-icon" @icon="angle-up" />
				{{else}}
					<TwyrIcon class="twyr-accordion-item-trigger-icon" @icon="angle-down" />
				{{/if}}
			{{else}}
				{{#if this.expanded}}
					<TwyrIcon class="twyr-accordion-item-trigger-icon" @icon="angle-down" />
				{{else}}
					<TwyrIcon class="twyr-accordion-item-trigger-icon" @icon="angle-right" />
				{{/if}}
			{{/if}}
		</TwyrButton>
	</div>
	{{#if (has-block "content")}}
		<div class="twyr-accordion-item-content">
			{{yield to="content"}}
		</div>
	{{/if}}
</div>
