@layer components {
	.material .twyr-alert-manager,
	.twyr-alert-manager.material {
		& > .twyr-alert-area {
			& > .twyr-alert {
				@apply px-4 py-2 my-1;
				@apply bg-black text-white;
				@apply elevation-4 rounded;
			}
		}
	}
}
