@layer components {
	.patternfly .twyr-sidebar,
	.twyr-sidebar.patternfly {
		@apply elevation-2;

		&.left,
		&.right {
			&.open {
				@apply border-l border-r;
			}
		}

		&.bottom {
			&.open {
				@apply border-t border-b;
			}
		}

		& > .twyr-sidebar-header {
			@apply p-8;
		}

		& > .twyr-sidebar-content {
			@apply p-8;
		}
	}
}
