<div
	class="twyr-menu"
	{{not-on "click" this.closeSubmenus}}
	...attributes
>
	{{yield (component this.itemComponent
		menu=this.menuControls
		registerWithMenu=this.registerMenuItem
		triggerEvent=this.triggerEvent

		xAlign=@xAlign
		xOffset=@xOffset

		yAlign=@yAlign
		yOffset=@yOffset

		equalTriggerContentWidth=@equalTriggerContentWidth
	)}}
</div>
