@layer components {
	.bootstrap .twyr-modal-container > .twyr-modal,
	.twyr-modal-container > .twyr-modal.bootstrap {
		@apply xl:rounded;

		& > .twyr-modal-header {
			@apply m-0 border-0 border-b-2 p-4;

			> .twyr-modal-header-title {
				@apply m-0;
				@apply text-xl leading-6;
			}
		}

		& > .twyr-modal-body {
			@apply m-0 border-0 p-4;
		}

		& > .twyr-modal-footer {
			@apply m-0 border-0 border-t-2 p-2;
		}
	}
}
