@layer components {
	.twyr-sub-headline {
		@apply text-sm lg:text-base;
		@apply font-medium;
		@apply align-middle break-words overflow-hidden overflow-ellipsis;

		&.black {
			@apply text-black;
		}

		&.darkest {
			@apply text-darkest;
		}

		&.darker {
			@apply text-darker;
		}

		&.dark {
			@apply text-dark;
		}

		&.light {
			@apply text-light;
		}

		&.lighter {
			@apply text-lighter;
		}

		&.lightest {
			@apply text-lightest;
		}

		&.white {
			@apply text-white;
		}

		&.primary {
			@apply text-primary;
		}

		&.secondary {
			@apply text-secondary;
		}

		&.tertiary {
			@apply text-tertiary;
		}

		&.success {
			@apply text-success;
		}

		&.info {
			@apply text-info;
		}

		&.warning {
			@apply text-warning;
		}

		&.error {
			@apply text-error;
		}
	}
}
