@layer components {
	.twyr-masthead > .twyr-masthead-container-collapsed-menu {
		@apply px-2 lg:px-3 2xl:px-4;
	}

	.twyr-masthead > .twyr-masthead-container-collapsed-menu li.nav-item {
		@apply py-1 lg:py-2 2xl:py-3;
	}
}
