@layer components {
	.twyr-masthead {
		@apply z-10;

		&.top {
			@apply top-0 left-0 right-0;
		}

		&.bottom {
			@apply bottom-0 left-0 right-0;
		}

		&.black {
			@apply bg-black text-white;
		}

		&.darkest {
			@apply bg-darkest text-lightest;
		}

		&.darker {
			@apply bg-darker text-lighter;
		}

		&.dark {
			@apply bg-dark text-light;
		}

		&.light {
			@apply bg-light text-dark;
		}

		&.lighter {
			@apply bg-lighter text-darker;
		}

		&.lightest {
			@apply bg-lightest text-darkest;
		}

		&.white {
			@apply bg-white text-black;
		}

		&.primary {
			@apply bg-primary;
		}

		&.secondary {
			@apply bg-secondary;
		}

		&.tertiary {
			@apply bg-tertiary;
		}

		&.success {
			@apply bg-success;
		}

		&.info {
			@apply bg-info;
		}

		&.warning {
			@apply bg-warning;
		}

		&.error {
			@apply bg-error;
		}
	}
}
