@layer components {
	.twyr-masthead > .twyr-masthead-container > .twyr-masthead-container-brand img {
		@apply inline-block;
		@apply object-fill border-2;
		@apply max-h-6 md:max-h-8 lg:max-h-10 xl:max-h-12;
		@apply w-6 md:w-8 lg:w-10 xl:w-12;
		@apply xl:text-xl;
	}

	.twyr-masthead > .twyr-masthead-container > .twyr-masthead-container-brand i {
		@apply align-middle break-words overflow-hidden overflow-ellipsis;
	}
}
