@layer components {
	.twyr-masthead > .twyr-masthead-container > .twyr-masthead-container-navigation {
		@apply mx-1 lg:mx-2 2xl:mx-3;
	}

	.twyr-masthead > .twyr-masthead-container > .twyr-masthead-container-navigation > i {
		@apply align-middle break-words overflow-hidden overflow-ellipsis;
	}

	.twyr-masthead > .twyr-masthead-container > .twyr-masthead-container-navigation > ul {
		@apply list-none;
	}

	.twyr-masthead > .twyr-masthead-container > .twyr-masthead-container-navigation .nav-item {
		@apply px-1 lg:px-2 2xl:px-3;
	}
}
