.bootstrap,
.material,
.patternfly,
.tailwind {
	--twyr-colour-rose: var(--twyr-colour-rose-500);
	--twyr-colour-pink: var(--twyr-colour-pink-500);
	--twyr-colour-fuchsia: var(--twyr-colour-fuchsia-500);
	--twyr-colour-purple: var(--twyr-colour-purple-500);
	--twyr-colour-violet: var(--twyr-colour-violet-500);
	--twyr-colour-indigo: var(--twyr-colour-indigo-500);
	--twyr-colour-blue: var(--twyr-colour-blue-500);
	--twyr-colour-light-blue: var(--twyr-colour-light-blue-500);
	--twyr-colour-cyan: var(--twyr-colour-cyan-500);
	--twyr-colour-teal: var(--twyr-colour-teal-500);
	--twyr-colour-emerald: var(--twyr-colour-emerald-500);
	--twyr-colour-green: var(--twyr-colour-green-500);
	--twyr-colour-lime: var(--twyr-colour-lime-500);
	--twyr-colour-yellow: var(--twyr-colour-yellow-500);
	--twyr-colour-amber: var(--twyr-colour-amber-500);
	--twyr-colour-orange: var(--twyr-colour-orange-500);
	--twyr-colour-deep-orange: var(--twyr-colour-deep-orange-500);
	--twyr-colour-red: var(--twyr-colour-red-500);
	--twyr-colour-brown: var(--twyr-colour-brown-500);

	--twyr-colour-warm-gray: var(--twyr-colour-warm-gray-500);
	--twyr-colour-gray: var(--twyr-colour-gray-500);
	--twyr-colour-cool-gray: var(--twyr-colour-cool-gray-500);
	--twyr-colour-blue-gray: var(--twyr-colour-blue-gray-500);

	--twyr-colour-black: #000;
	--twyr-colour-darkest: var(--twyr-colour-gray-900);
	--twyr-colour-darker: var(--twyr-colour-gray-700);
	--twyr-colour-dark: var(--twyr-colour-gray-500);
	--twyr-colour-light: var(--twyr-colour-gray-300);
	--twyr-colour-lighter: var(--twyr-colour-gray-100);
	--twyr-colour-lightest: var(--twyr-colour-gray-50);
	--twyr-colour-white: #fff;

	--twyr-colour-primary: var(--twyr-colour-blue);
	--twyr-colour-secondary: var(--twyr-colour-warm-gray-400);
	--twyr-colour-tertiary: var(--twyr-colour-amber-400);

	--twyr-colour-success: var(--twyr-colour-green-600);
	--twyr-colour-info: var(--twyr-colour-blue);
	--twyr-colour-warning: var(--twyr-colour-yellow);
	--twyr-colour-error: var(--twyr-colour-orange);

	--twyr-colour-black-alert-background: var(--twyr-colour-gray-400);
	--twyr-colour-darkest-alert-background: var(--twyr-colour-gray-400);
	--twyr-colour-darker-alert-background: var(--twyr-colour-gray-400);
	--twyr-colour-dark-alert-background: var(--twyr-colour-gray-50);
	--twyr-colour-light-alert-background: var(--twyr-colour-gray-600);
	--twyr-colour-lighter-alert-background: var(--twyr-colour-gray-600);
	--twyr-colour-lightest-alert-background: var(--twyr-colour-gray-700);
	--twyr-colour-white-alert-background: var(--twyr-colour-gray-500);

	--twyr-colour-primary-alert-background: var(--twyr-colour-blue-100);
	--twyr-colour-secondary-alert-background: var(--twyr-colour-warm-gray-100);
	--twyr-colour-tertiary-alert-background: var(--twyr-colour-amber-50);

	--twyr-colour-success-alert-background: var(--twyr-colour-green-100);
	--twyr-colour-info-alert-background: var(--twyr-colour-blue-100);
	--twyr-colour-warning-alert-background: var(--twyr-colour-amber-50);
	--twyr-colour-error-alert-background: var(--twyr-colour-orange-50);
}
