@layer components {
	.patternfly .twyr-pagination,
	.twyr-pagination.patternfly {
		& > .twyr-pagination-count {
			& > .twyr-button {
				@apply p-0 px-2 py-1.5;
			}
		}

		& > ul > .twyr-pagination-item {
			& > .twyr-button {
				@apply p-0 px-2 py-1.5;
			}
		}
	}
}
