<div class="twyr-carousel-controls">
	<TwyrIcon
		class="control"
		@icon={{this.prevIcon}}
		{{on "click" @prev}}
	/>
	<TwyrIcon
		class="control"
		@icon={{this.nextIcon}}
		{{on "click" @next}}
	/>
</div>
