@layer components {
	.twyr-carousel {
		--control-color: var(--twyr-colour-lightest);
		--max-width: 0;
		--max-height: 0;

		--transition-interval: 600ms;

		@apply relative;
		@apply min-w-full;
		@apply m-0 border-0 p-0;

		width: var(--max-width);
		max-width: var(--max-width);
		height: var(--max-height);
		max-height: var(--max-height);

		&.inited {
			@apply ease-in;

			transition-duration: var(--transition-interval);
			transition-property: width, max-width, height, max-height;
		}

		& > .twyr-carousel-container {
			@apply m-0 border-0 p-0;
			@apply w-full;
			@apply flex flex-row flex-nowrap content-start items-start;

			& > .twyr-carousel-item {
				--display-interval: 7500ms;

				@apply relative hidden;
				@apply m-0 border-0 p-0;

				&.next,
				&.prev {
					@apply flex;
				}

				&.current {
					@apply flex-grow flex flex-row justify-center content-center items-center;
				}
			}
		}

		&.left > .twyr-carousel-container {
			@apply justify-start;

			& > .twyr-carousel-item {
				&.changing {
					@apply transform -translate-x-full;

					transition-duration: var(--transition-interval);
				}

				&.unchanging {
					@apply transform translate-x-full;

					transition-duration: var(--transition-interval);

					&.next,
					&.prev {
						left: -100%;
					}
				}
			}
		}

		&.right > .twyr-carousel-container {
			@apply justify-end;

			& > .twyr-carousel-item {
				&.changing {
					@apply transform translate-x-full;

					transition-duration: var(--transition-interval);
				}

				&.unchanging {
					@apply transform -translate-x-full;

					transition-duration: var(--transition-interval);

					&.next,
					&.prev {
						left: 100%;
					}
				}
			}
		}

		& > .twyr-carousel-controls {
			@apply absolute inset-0;
			@apply m-0 border-0 p-0 px-2 bg-transparent;
			@apply flex flex-row justify-between content-center items-center;
			@apply pointer-events-none;

			& > .control {
				@apply cursor-pointer;
				@apply pointer-events-auto;
				@apply text-4xl;

				color: var(--control-color);

				&:hover {
					@apply font-black;
				}
			}
		}

		& > .twyr-carousel-indicators {
			@apply absolute inset-0;
			@apply m-0 border-0 p-0 pb-2 bg-transparent;
			@apply flex flex-row justify-center content-end items-end;
			@apply pointer-events-none;

			& > .indicator {
				@apply cursor-pointer;
				@apply pointer-events-auto;
				@apply text-4xl;

				color: var(--control-color);
			}
		}
	}
}
