@layer components {
	.bootstrap .twyr-pagination,
	.twyr-pagination.bootstrap {
		& > .twyr-pagination-count {
			& > .twyr-button {
				@apply rounded-none;
				@apply p-0 px-3 py-2;
			}
		}

		& > ul > .twyr-pagination-item {
			@apply border;

			&:first-child {
				@apply rounded-l-md;
			}

			&:last-child {
				@apply rounded-r-md;
			}

			&:not(:first-child) {
				@apply border-l-0;
			}

			& > .twyr-button {
				@apply rounded-none;
				@apply p-0 px-3 py-2;
			}
		}
	}
}
