<TwyrButton
	id={{this.triggerId}}
	class="twyr-basic-dropdown-trigger twyr-menu-item text-button"

	@overlayClass={{@overlayClass}}
	@stopPropagation={{false}}

	{{store-element this.storeElement}}
	{{can-receive-focus
		onKeyDown=this.handleKeyDown

		onMouseDown=this.handleMouseDown
		onMouseUp=this.handleMouseUp

		onTouchEnd=this.handleTouchEnd
	}}

	disabled={{this.isDisabled}}
	...attributes
>
	{{yield}}
</TwyrButton>
