@layer components {
	.twyr-menu {
		@apply flex flex-row content-center items-center;
		@apply list-none;
		@apply whitespace-nowrap;

		& .twyr-menu-item-list {
			@apply flex flex-col justify-start content-center items-center;
			@apply bg-lightest text-darkest;
			@apply list-none;
			@apply rounded;
			@apply elevation-4;
		}

		& .twyr-menu-item {
			@apply min-w-full w-full max-w-full;
		}

		& .twyr-button {
			@apply flex flex-row justify-start content-center items-center;
			@apply text-left;
		}
	}
}
