<div class="twyr-card" ...attributes>
	{{#if (has-block "header")}}
		{{yield (component this.headerComponent) to="header"}}
	{{/if}}
	{{#if (has-block "media")}}
		{{yield (component this.mediaComponent) to="media"}}
	{{/if}}
	{{#if (has-block "body")}}
		{{yield (component this.bodyComponent) to="body"}}
	{{/if}}
	{{#if (has-block "footer")}}
		{{yield (component this.footerComponent) to="footer"}}
	{{/if}}
</div>
