{{#if @href}}
<a
	class="twyr-button"
	href={{@href}}
	{{maintain-contrast designSystem=this.designSystem bwOnly=true}}
	{{on-mutation this.onClassListMutation attributeFilter=(array "class" "style")}}
	{{store-element this.storeElement}}
	{{watch-design-system-change this.onDesignSystemChange}}
	{{will-ripple}}
	{{can-receive-focus
		focusOnlyOnKey=@focusOnlyOnKey
		stopPropagation=this.stopPropagation

		onFocusIn=this.onFocusIn
		onFocusOut=this.onFocusOut

		onMouseEnter=this.onMouseEnter
		onMouseLeave=this.onMouseLeave
	}}
	...attributes
>
	{{yield}}
</a>
{{else}}
<button type="button"
	class="twyr-button"
	{{maintain-contrast designSystem=this.designSystem bwOnly=true}}
	{{on-mutation this.onClassListMutation attributeFilter=(array "class" "style")}}
	{{store-element this.storeElement}}
	{{watch-design-system-change this.onDesignSystemChange}}
	{{will-ripple}}
	{{can-receive-focus
		focusOnlyOnKey=@focusOnlyOnKey
		stopPropagation=this.stopPropagation

		onFocusIn=this.onFocusIn
		onFocusOut=this.onFocusOut

		onMouseEnter=this.onMouseEnter
		onMouseLeave=this.onMouseLeave
	}}
	...attributes
>
	{{yield}}
</button>
{{/if}}
