@layer components {
	.bootstrap .twyr-sidebar,
	.twyr-sidebar.bootstrap {
		&.left,
		&.right {
			&.open {
				@apply border-l border-r;
			}
		}

		&.bottom {
			&.open {
				@apply border-t border-b;
			}
		}

		& > .twyr-sidebar-header {
			@apply p-8;
		}

		& > .twyr-sidebar-content {
			@apply p-8;
		}
	}
}
