@layer components {
	.bootstrap .twyr-list-container,
	.twyr-list-container.bootstrap {
		@apply border rounded;

		& > .twyr-list-toolbar {
			& > .twyr-list-toolbar-thumbnail > .twyr-list-thumbnail > img {
				@apply max-h-10;
				@apply w-10;
			}

			& > .twyr-list-toolbar-icon {
				@apply text-3xl;
			}
		}

		& > .twyr-list > .twyr-list-item > .twyr-list-item-trigger {
			& > .twyr-list-item-indicator {
				@apply text-xl;
			}

			& > .twyr-list-item-thumbnail > .twyr-list-thumbnail > img {
				@apply max-h-10;
				@apply w-10;
			}

			& > .twyr-list-item-icon {
				@apply text-3xl;
			}

			& > .twyr-list-item-article {
				@apply flex-col content-start items-stretch;

				& > .twyr-headline {
					@apply text-sm lg:text-base font-normal lg:font-bold;
				}

				& > .twyr-sub-headline {
					@apply text-sm lg:text-base font-normal;
				}
			}
		}
	}
}
