@layer components {
	.bootstrap .twyr-masthead,
	.twyr-masthead.bootstrap {
		& > .twyr-masthead-container > .twyr-masthead-container-brand {
			&.top {
				@apply flex flex-row flex-nowrap justify-start content-center items-center;
			}

			&.bottom {
				@apply hidden;
			}
		}
	}
}
