<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Twy&apos;r Multi DSL</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="preload" as="image" href="https://images.unsplash.com/photo-1499714608240-22fc6ad53fb2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80">

	{{content-for "head"}}

	<link href="{{rootURL}}assets/vendor.css" rel="stylesheet" type="text/css" media="print" onload="this.media='all';this.onload=null;" />
	<link href="{{rootURL}}assets/dummy.css" rel="stylesheet" type="text/css" media="print" onload="this.media='all';this.onload=null;" />

	{{content-for "head-footer"}}
</head>

<body
	class="material flex flex-col justify-start content-start overflow-hidden"
	style="width: 100vw; min-width: 100vw; max-width: 100vw; height: 100vh; min-height: 100vh; max-height: 100vh;"
>
	{{content-for "body"}}

	<script src="{{rootURL}}assets/vendor.js"></script>
	<script src="{{rootURL}}assets/dummy.js"></script>

	{{content-for "body-footer"}}
</body>

</html>
