@layer components {
	.bootstrap .twyr-accordion,
	.twyr-accordion.bootstrap {
		@apply border;

		& > .twyr-accordion-item:not(:first-child) {
			@apply border-t;
		}

		& > .twyr-accordion-item.expanded > .twyr-accordion-item-content {
			@apply border-t;
			@apply px-3 py-2;
		}
	}
}
