{{#if (eq @position "top")}}
	{{#if (eq @designSystem "material")}}
		<div
			class="twyr-masthead-container-navigation {{if @actionMode "flex-grow"}} flex flex-row justify-start content-center items-center"
			...attributes
		>
			{{#if @actionMode}}
				{{yield}}
			{{else}}
				<TwyrIcon @icon="hamburger-menu" />
				<ul class="hidden">
					{{yield}}
				</ul>
			{{/if}}
		</div>
	{{else}}
		<div
			class="twyr-masthead-container-navigation flex-grow flex flex-row content-center items-center"
			{{has-class-if (and this.collapsed (not @actionMode)) "justify-end" "justify-start"}}
			{{on-resize this.onResize}}
			{{store-element this.storeElement}}
			...attributes
		>
			{{#if @actionMode}}
				{{yield}}
			{{else}}
				<ul class="{{if this.collapsed "hidden" "flex flex-row"}}">
					{{#unless this.collapsed}}
						{{yield}}
					{{/unless}}
				</ul>
				{{#if this.collapsed}}
					<TwyrIcon
						@icon="hamburger-menu"
						{{on "click" this.toggleCollapsedMenu}}
					/>
					{{#in-element @collapsedMenuElement}}
						{{yield}}
					{{/in-element}}
				{{/if}}
			{{/if}}
		</div>
	{{/if}}
{{/if}}

{{#if (eq @position "bottom")}}
	<div
		class="twyr-masthead-container-navigation flex-grow flex flex-row justify-start content-center items-center"
		...attributes
	>
		{{yield}}
	</div>
{{/if}}
