{{!-- template-lint-disable no-invalid-interactive --}}
<div
	class="twyr-sidebar-toggle cursor-pointer"
	{{store-element this.storeElement}}

	{{on "click" this.onClick}}
	...attributes
>
{{yield}}
</div>
