@layer components {
	.tailwind .twyr-alert-manager,
	.twyr-alert-manager.tailwind {
		& > .twyr-alert-area {
			& > .twyr-alert {
				@apply bg-white;
				@apply my-2 border-0 rounded-b border-t-2 px-4 py-2;
				@apply elevation-4;
				@apply text-sm font-semibold;
			}
		}
	}
}
