/* stylelint-disable no-descending-specificity */
@layer components {
	.twyr-list-container {
		@apply m-0 border-0 p-0;

		& > .twyr-list-toolbar {
			@apply flex flex-row flex-nowrap justify-start content-center items-center;
			@apply border-b p-4;

			& > .twyr-list-toolbar-indicator {
				@apply flex-none;
				@apply cursor-pointer;
				@apply mr-4;
			}

			& > .twyr-list-toolbar-thumbnail {
				@apply flex-none flex flex-row flex-nowrap justify-center content-center items-center;
				@apply mr-4;

				& > .twyr-list-thumbnail {
					@apply flex justify-center content-center items-center;

					& > img {
						@apply object-fill border rounded-full;
						@apply max-h-6;
						@apply w-6;
					}
				}
			}

			& > .twyr-list-toolbar-icon {
				@apply flex-none flex flex-row flex-nowrap justify-center content-center items-center;
				@apply mr-4;
			}

			& > .twyr-list-toolbar-content {
				@apply flex-grow flex flex-row flex-nowrap justify-start content-center items-center;
				@apply overflow-hidden overflow-ellipsis;
				@apply mr-4;
			}

			& > .twyr-list-toolbar-actions {
				@apply flex-none flex flex-row justify-end content-center items-center;
				@apply mr-4 border-l pl-4;
			}

			& > .twyr-list-toolbar-menu {
				@apply flex-none flex flex-row flex-nowrap justify-end content-center items-center;
				@apply border-l pl-4;
			}
		}

		& > .twyr-list {
			@apply list-none;

			& > .twyr-list-item {
				@apply relative;
				@apply flex flex-col justify-start content-start items-stretch;
				@apply border-0 px-0 py-4;

				&:not(:last-child) {
					@apply border-b;
				}

				& > .twyr-list-item-trigger {
					@apply flex flex-row flex-nowrap justify-start content-start items-start;
					@apply px-4;

					& > .twyr-list-item-indicator {
						@apply flex-none;
						@apply cursor-pointer;
						@apply mr-4;
					}

					& > .twyr-list-item-thumbnail {
						@apply flex-none flex flex-row flex-nowrap justify-center content-center items-center;
						@apply mr-4;

						& > .twyr-list-thumbnail {
							@apply flex justify-center content-center items-center;

							& > img {
								@apply object-fill border rounded-full;
								@apply max-h-6;
								@apply w-6;
							}
						}
					}

					& > .twyr-list-item-icon {
						@apply flex-none flex flex-row flex-nowrap justify-center content-center items-center;
						@apply mr-4;
					}

					& > .twyr-list-item-article {
						@apply flex-grow flex justify-start;
						@apply mr-4;
					}

					& > .twyr-list-item-actions {
						@apply flex-none flex flex-row justify-end content-center items-center;
						@apply mr-4 pl-4;
					}

					& > .twyr-list-item-menu {
						@apply flex-none flex flex-row flex-nowrap justify-end content-center items-center;
					}
				}

				& > .twyr-list-item-content {
					@apply border-t;
					@apply mt-4 px-4 py-6;
					@apply text-base;
				}
			}
		}

		&.ordered > .twyr-list {
			list-style: auto;
		}

		&.black {
			@apply border-black;

			& .twyr-list-toolbar {
				@apply border-black;

				& .twyr-list-toolbar-indicator {
					@apply text-black;
				}
			}

			& .twyr-list {
				& .twyr-list-item {
					@apply border-black;
				}

				& .twyr-list-item-indicator {
					@apply text-black;
				}
			}

			& .twyr-list-thumbnail img {
				@apply border border-black;
			}
		}

		&.darkest {
			@apply border-darkest;

			& .twyr-list-toolbar {
				@apply border-darkest;

				& .twyr-list-toolbar-indicator {
					@apply text-darkest;
				}
			}

			& .twyr-list {
				& .twyr-list-item {
					@apply border-darkest;
				}

				& .twyr-list-item-indicator {
					@apply text-darkest;
				}
			}

			& .twyr-list-thumbnail img {
				@apply border border-darkest;
			}
		}

		&.darker {
			@apply border-darker;

			& .twyr-list-toolbar {
				@apply border-darker;

				& .twyr-list-toolbar-indicator {
					@apply text-darker;
				}
			}

			& .twyr-list {
				& .twyr-list-item {
					@apply border-darker;
				}

				& .twyr-list-item-indicator {
					@apply text-darker;
				}
			}

			& .twyr-list-thumbnail img {
				@apply border border-darker;
			}
		}

		&.dark {
			@apply border-dark;

			& .twyr-list-toolbar {
				@apply border-dark;

				& .twyr-list-toolbar-indicator {
					@apply text-dark;
				}
			}

			& .twyr-list {
				& .twyr-list-item {
					@apply border-dark;
				}

				& .twyr-list-item-indicator {
					@apply text-dark;
				}
			}

			& .twyr-list-thumbnail img {
				@apply border border-dark;
			}
		}

		&.light {
			@apply border-light;

			& .twyr-list-toolbar {
				@apply border-light;

				& .twyr-list-toolbar-indicator {
					@apply text-light;
				}
			}

			& .twyr-list {
				& .twyr-list-item {
					@apply border-light;
				}

				& .twyr-list-item-indicator {
					@apply text-light;
				}
			}

			& .twyr-list-thumbnail img {
				@apply border border-light;
			}
		}

		&.lighter {
			@apply border-lighter;

			& .twyr-list-toolbar {
				@apply border-lighter;

				& .twyr-list-toolbar-indicator {
					@apply text-lighter;
				}
			}

			& .twyr-list {
				& .twyr-list-item {
					@apply border-lighter;
				}

				& .twyr-list-item-indicator {
					@apply text-lighter;
				}
			}

			& .twyr-list-thumbnail img {
				@apply border border-lighter;
			}
		}

		&.lightest {
			@apply border-lightest;

			& .twyr-list-toolbar {
				@apply border-lightest;

				& .twyr-list-toolbar-indicator {
					@apply text-lightest;
				}
			}

			& .twyr-list {
				& .twyr-list-item {
					@apply border-lightest;
				}

				& .twyr-list-item-indicator {
					@apply text-lightest;
				}
			}

			& .twyr-list-thumbnail img {
				@apply border border-lightest;
			}
		}

		&.white {
			@apply border-white;

			& .twyr-list-toolbar {
				@apply border-white;

				& .twyr-list-toolbar-indicator {
					@apply text-white;
				}
			}

			& .twyr-list {
				& .twyr-list-item {
					@apply border-white;
				}

				& .twyr-list-item-indicator {
					@apply text-white;
				}
			}

			& .twyr-list-thumbnail img {
				@apply border border-white;
			}
		}

		&.primary {
			@apply border-primary;

			& .twyr-list-toolbar {
				@apply border-primary;

				& .twyr-list-toolbar-indicator {
					@apply text-primary;
				}
			}

			& .twyr-list {
				& .twyr-list-item {
					@apply border-primary;
				}

				& .twyr-list-item-indicator {
					@apply text-primary;
				}
			}

			& .twyr-list-thumbnail img {
				@apply border border-primary;
			}
		}

		&.secondary {
			@apply border-secondary;

			& .twyr-list-toolbar {
				@apply border-secondary;

				& .twyr-list-toolbar-indicator {
					@apply text-secondary;
				}
			}

			& .twyr-list {
				& .twyr-list-item {
					@apply border-secondary;
				}

				.twyr-list-item-indicator {
					@apply text-secondary;
				}
			}

			& .twyr-list-thumbnail img {
				@apply border border-secondary;
			}
		}

		&.tertiary {
			@apply border-tertiary;

			& .twyr-list-toolbar {
				@apply border-tertiary;

				& .twyr-list-toolbar-indicator {
					@apply text-tertiary;
				}
			}

			& .twyr-list {
				& .twyr-list-item {
					@apply border-tertiary;
				}

				& .twyr-list-item-indicator {
					@apply text-tertiary;
				}
			}

			& .twyr-list-thumbnail img {
				@apply border border-tertiary;
			}
		}

		&.success {
			@apply border-success;

			& .twyr-list-toolbar {
				@apply border-success;

				& .twyr-list-toolbar-indicator {
					@apply text-success;
				}
			}

			& .twyr-list {
				& .twyr-list-item {
					@apply border-success;
				}

				& .twyr-list-item-indicator {
					@apply text-success;
				}
			}

			& .twyr-list-thumbnail img {
				@apply border border-success;
			}
		}

		&.info {
			@apply border-info;

			& .twyr-list-toolbar {
				@apply border-info;

				& .twyr-list-toolbar-indicator {
					@apply text-info;
				}
			}

			& .twyr-list {
				& .twyr-list-item {
					@apply border-info;
				}

				& .twyr-list-item-indicator {
					@apply text-info;
				}
			}

			& .twyr-list-thumbnail img {
				@apply border border-info;
			}
		}

		&.warning {
			@apply border-warning;

			& .twyr-list-toolbar {
				@apply border-warning;

				& .twyr-list-toolbar-indicator {
					@apply text-warning;
				}
			}

			& .twyr-list {
				& .twyr-list-item {
					@apply border-warning;
				}

				& .twyr-list-item-indicator {
					@apply text-warning;
				}
			}

			& .twyr-list-thumbnail img {
				@apply border border-warning;
			}
		}

		&.error {
			@apply border-error;

			& .twyr-list-toolbar {
				@apply border-error;

				& .twyr-list-toolbar-indicator {
					@apply text-error;
				}
			}

			& .twyr-list {
				& .twyr-list-item {
					@apply border-error;
				}

				& .twyr-list-item-indicator {
					@apply text-error;
				}
			}

			& .twyr-list-thumbnail img {
				@apply border border-error;
			}
		}
	}
}
