@layer components {
	.bootstrap .twyr-alert-manager,
	.twyr-alert-manager.bootstrap {
		& > .twyr-alert-area {
			& > .twyr-alert {
				@apply my-2 border rounded p-4;

				&.black {
					background-color: var(--twyr-colour-black-alert-background);
				}

				&.darkest {
					background-color: var(--twyr-colour-darkest-alert-background);
				}

				&.darker {
					background-color: var(--twyr-colour-darker-alert-background);
				}

				&.dark {
					background-color: var(--twyr-colour-dark-alert-background);
				}

				&.light {
					background-color: var(--twyr-colour-light-alert-background);
				}

				&.lighter {
					background-color: var(--twyr-colour-lighter-alert-background);
				}

				&.lightest {
					background-color: var(--twyr-colour-lightest-alert-background);
				}

				&.white {
					background-color: var(--twyr-colour-white-alert-background);
				}

				&.primary {
					background-color: var(--twyr-colour-primary-alert-background);
				}

				&.secondary {
					background-color: var(--twyr-colour-secondary-alert-background);
				}

				&.tertiary {
					background-color: var(--twyr-colour-tertiary-alert-background);
				}

				&.success {
					background-color: var(--twyr-colour-success-alert-background);
				}

				&.info {
					background-color: var(--twyr-colour-info-alert-background);
				}

				&.warning {
					background-color: var(--twyr-colour-warning-alert-background);
				}

				&.error {
					background-color: var(--twyr-colour-error-alert-background);
				}

				& > i {
					@apply text-xl;
				}
			}
		}
	}
}
