{{#unless @actionMode}}
	<h4
		class="twyr-masthead-container-title {{@position}}"
		{{has-class-if (eq this.operatingParameters.os.name "iOS") "text-center" "text-left"}}
		...attributes
	>
		{{@text}}
	</h4>
{{/unless}}
