@layer components {
	.twyr-card > .twyr-card-body {
		@apply relative;
		@apply flex flex-col;
		@apply border-0 p-2;
	}

	/* Title / Subtitle styling */
	.twyr-card > .twyr-card-body > article > .twyr-card-body-title {
		@apply font-semibold;
		@apply xl:text-xl;
		@apply align-middle break-words overflow-hidden overflow-ellipsis;
	}

	.twyr-card > .twyr-card-body > article > .twyr-card-body-subtitle {
		@apply text-sm lg:text-base;
		@apply font-medium;
		@apply align-middle break-words overflow-hidden overflow-ellipsis;
	}

	/* The content */
	.twyr-card > .twyr-card-body > .twyr-card-body-text {
		@apply align-middle break-words overflow-hidden overflow-ellipsis;
	}
}
