@layer components {
	.twyr-card {
		@apply relative;
		@apply flex flex-col;
		@apply border;

		&.black {
			@apply border-black;
		}

		&.darkest {
			@apply border-darkest;
		}

		&.darker {
			@apply border-darker;
		}

		&.dark {
			@apply border-dark;
		}

		&.light {
			@apply border-light;
		}

		&.lighter {
			@apply border-lighter;
		}

		&.lightest {
			@apply border-lightest;
		}

		&.white {
			@apply border-white;
		}

		&.primary {
			@apply border-primary;
		}

		&.secondary {
			@apply border-secondary;
		}

		&.tertiary {
			@apply border-tertiary;
		}

		&.success {
			@apply border-success;
		}

		&.info {
			@apply border-info;
		}

		&.warning {
			@apply border-warning;
		}

		&.error {
			@apply border-error;
		}
	}
}
