@layer components {
	.twyr-card > .twyr-card-footer {
		@apply flex flex-col;
		@apply border-0 border-t;
		@apply p-2;
	}

	.twyr-card.black > .twyr-card-footer {
		@apply border-black;
	}

	.twyr-card.darkest > .twyr-card-footer {
		@apply border-darkest;
	}

	.twyr-card.darker > .twyr-card-footer {
		@apply border-darker;
	}

	.twyr-card.dark > .twyr-card-footer {
		@apply border-dark;
	}

	.twyr-card.light > .twyr-card-footer {
		@apply border-light;
	}

	.twyr-card.lighter > .twyr-card-footer {
		@apply border-lighter;
	}

	.twyr-card.lightest > .twyr-card-footer {
		@apply border-lightest;
	}

	.twyr-card.white > .twyron-card-footer {
		@apply border-white;
	}

	.twyr-card.primary > .twyr-card-footer {
		@apply border-primary;
	}

	.twyr-card.secondary > .twyr-card-footer {
		@apply border-secondary;
	}

	.twyr-card.tertiary > .twyr-card-footer {
		@apply border-tertiary;
	}

	.twyr-card.success > .twyr-card-footer {
		@apply border-success;
	}

	.twyr-card.info > .twyr-card-footer {
		@apply border-info;
	}

	.twyr-card.warning > .twyr-card-footer {
		@apply border-warning;
	}

	.twyr-card.error > .twyr-card-footer {
		@apply border-error;
	}

	/* The content */
	.twyr-card > .twyr-card-footer > .twyr-card-footer-text {
		@apply align-middle break-words overflow-hidden overflow-ellipsis;
	}

	/* Actions styling */
	.twyr-card > .twyr-card-footer > .twyr-card-footer-action-container {
		@apply flex flex-row justify-between content-center items-center;
	}

	.twyr-card > .twyr-card-footer > .twyr-card-footer-action-container > .twyr-card-footer-action-buttons {
		@apply flex-auto flex flex-row justify-start;
	}

	.twyr-card > .twyr-card-footer > .twyr-card-footer-action-container > .twyr-card-footer-action-icons {
		@apply flex-auto flex flex-row justify-end;
	}
}
