@layer components {
	.twyr-card > .twyr-card-header {
		@apply flex flex-col;
		@apply border-0 border-b;
		@apply p-2;
	}

	.twyr-card.black > .twyr-card-header {
		@apply border-black;
		@apply bg-black;
		@apply text-white;
	}

	.twyr-card.darkest > .twyr-card-header {
		@apply border-darkest;
		@apply bg-darkest;
		@apply text-lightest;
	}

	.twyr-card.darker > .twyr-card-header {
		@apply border-darker;
		@apply bg-darker;
		@apply text-lighter;
	}

	.twyr-card.dark > .twyr-card-header {
		@apply border-dark;
		@apply bg-dark;
		@apply text-light;
	}

	.twyr-card.light > .twyr-card-header {
		@apply border-light;
		@apply bg-light;
		@apply text-dark;
	}

	.twyr-card.lighter > .twyr-card-header {
		@apply border-lighter;
		@apply bg-lighter;
		@apply text-darker;
	}

	.twyr-card.lightest > .twyr-card-header {
		@apply border-lightest;
		@apply bg-lightest;
		@apply text-darkest;
	}

	.twyr-card.white > .twyr-card-header {
		@apply border-white;
		@apply bg-white;
		@apply text-black;
	}

	.twyr-card.primary > .twyr-card-header {
		@apply border-primary;
		@apply bg-primary;
	}

	.twyr-card.secondary > .twyr-card-header {
		@apply border-secondary;
		@apply bg-secondary;
	}

	.twyr-card.tertiary > .twyr-card-header {
		@apply border-tertiary;
		@apply bg-tertiary;
	}

	.twyr-card.success > .twyr-card-header {
		@apply border-success;
		@apply bg-success;
	}

	.twyr-card.info > .twyr-card-header {
		@apply border-info;
		@apply bg-info;
	}

	.twyr-card.warning > .twyr-card-header {
		@apply border-warning;
		@apply bg-warning;
	}

	.twyr-card.error > .twyr-card-header {
		@apply border-error;
		@apply bg-error;
	}

	/* Thumbnail styling */
	.twyr-card > .twyr-card-header > div > .twyr-card-header-thumbnail {
		@apply flex justify-center content-center items-center;
		@apply px-2;
	}

	.twyr-card > .twyr-card-header > div > .twyr-card-header-thumbnail img {
		@apply object-fill rounded-full border-2;
		@apply max-h-10 md:max-h-12 lg:max-h-14 xl:max-h-16;
		@apply w-10 md:w-12 lg:w-14 xl:w-16;
	}

	.twyr-card.black > .twyr-card-header > div > .twyr-card-header-thumbnail img {
		@apply border-black;
	}

	.twyr-card.darkest > .twyr-card-header > .div > twyr-card-header-thumbnail img {
		@apply border-darkest;
	}

	.twyr-card.darker > .twyr-card-header > .div > twyr-card-header-thumbnail img {
		@apply border-darker;
	}

	.twyr-card.dark > .twyr-card-header > .div > twyr-card-header-thumbnail img {
		@apply border-dark;
	}

	.twyr-card.light > .twyr-card-header > div > .twyr-card-header-thumbnail img {
		@apply border-light;
	}

	.twyr-card.lighter > .twyr-card-header > div > .twyr-card-header-thumbnail img {
		@apply border-lighter;
	}

	.twyr-card.lightest > .twyr-card-header > div > .twyr-card-header-thumbnail img {
		@apply border-lightest;
	}

	.twyr-card.white > .twyr-card-header > div > .twyr-card-header-thumbnail img {
		@apply border-white;
	}

	.twyr-card.primary > .twyr-card-header > div > .twyr-card-header-thumbnail img {
		@apply border-primary;
	}

	.twyr-card.secondary > .twyr-card-header > div > .twyr-card-header-thumbnail img {
		@apply border-secondary;
	}

	.twyr-card.tertiary > .twyr-card-header > div > .twyr-card-header-thumbnail img {
		@apply border-tertiary;
	}

	.twyr-card.success > .twyr-card-header > div > .twyr-card-header-thumbnail img {
		@apply border-success;
	}

	.twyr-card.info > .twyr-card-header > div > .twyr-card-header-thumbnail img {
		@apply border-info;
	}

	.twyr-card.warning > .twyr-card-header > div > .twyr-card-header-thumbnail img {
		@apply border-warning;
	}

	.twyr-card.error > .twyr-card-header > div > .twyr-card-header-thumbnail img {
		@apply border-error;
	}

	/* Menu styling */
	.twyr-card > .twyr-card-header > div > .twyr-card-header-menu {
		@apply flex justify-center content-center items-center;
		@apply px-1 lg:px-2 2xl:px-3;
	}

	/* Headline area styling */
	.twyr-card > .twyr-card-header > div > .twyr-card-header-article {
		@apply flex-grow flex flex-col m-2 text-left;
	}


	/* Yielded area */
	.twyr-card > .twyr-card-header > .twyr-card-header-text {
		@apply align-middle break-words overflow-hidden overflow-ellipsis;
	}
}
