@layer components {
	.twyr-card > .twyr-card-media {
		@apply container;
		@apply border-0 border-b;
	}

	.twyr-card.black > .twyr-card-media {
		@apply border-black;
	}

	.twyr-card.darkest > .twyr-card-media {
		@apply border-darkest;
	}

	.twyr-card.darker > .twyr-card-media {
		@apply border-darker;
	}

	.twyr-card.dark > .twyr-card-media {
		@apply border-dark;
	}

	.twyr-card.light > .twyr-card-media {
		@apply border-light;
	}

	.twyr-card.lighter > .twyr-card-media {
		@apply border-lighter;
	}

	.twyr-card.lightest > .twyr-card-media {
		@apply border-lightest;
	}

	.twyr-card.white > .twyr-card-media {
		@apply border-white;
	}

	.twyr-card.primary > .twyr-card-media {
		@apply border-primary;
	}

	.twyr-card.secondary > .twyr-card-media {
		@apply border-secondary;
	}

	.twyr-card.tertiary > .twyr-card-media {
		@apply border-tertiary;
	}

	.twyr-card.success > .twyr-card-media {
		@apply border-success;
	}

	.twyr-card.info > .twyr-card-media {
		@apply border-info;
	}

	.twyr-card.warning > .twyr-card-media {
		@apply border-warning;
	}

	.twyr-card.error > .twyr-card-media {
		@apply border-error;
	}
}
