@layer components {
	.tailwind .twyr-sidebar,
	.twyr-sidebar.tailwind {
		&.left {
			&.open {
				@apply elevation-2;
				@apply rounded-r;
			}
		}

		&.right {
			&.open {
				@apply elevation-2;
				@apply rounded-l;
			}
		}

		&.bottom {
			&.open {
				@apply elevation-2;
				@apply rounded-t;
			}
		}

		& > .twyr-sidebar-header {
			@apply p-4;
		}

		& > .twyr-sidebar-content {
			@apply p-4;
		}
	}
}
