@layer components {
	.tailwind .twyr-button,
	.twyr-button.tailwind {
		@apply px-3 py-2;
		@apply rounded;

		&[disabled] {
			@apply border-0;
			@apply bg-gray-400 text-gray-700;
			@apply pointer-events-none;
		}

		&.outline-button {
			@apply border;

			&.black {
				@apply border-black text-black;
			}

			&.darkest {
				@apply border-darkest text-darkest;
			}

			&.darker {
				@apply border-darker text-darker;
			}

			&.dark {
				@apply border-dark text-dark;
			}

			&.light {
				@apply border-light text-light;
			}

			&.lighter {
				@apply border-lighter text-lighter;
			}

			&.lightest {
				@apply border-lightest text-lightest;
			}

			&.white {
				@apply border-white text-black;
			}

			&.primary {
				@apply border-primary text-primary;
			}

			&.secondary {
				@apply border-secondary text-secondary;
			}

			&.tertiary {
				@apply border-tertiary text-tertiary;
			}

			&.success {
				@apply border-success text-success;
			}

			&.info {
				@apply border-info text-info;
			}

			&.warning {
				@apply border-warning text-warning;
			}

			&.error {
				@apply border-error text-error;
			}

			&:hover {
				&.black {
					@apply bg-black text-white;
				}

				&.darkest {
					@apply bg-darkest text-lightest;
				}

				&.darker {
					@apply bg-darker text-lighter;
				}

				&.dark {
					@apply bg-dark text-light;
				}

				&.light {
					@apply bg-light text-dark;
				}

				&.lighter {
					@apply bg-lighter text-darker;
				}

				&.lightest {
					@apply bg-lightest text-darkest;
				}

				&.white {
					@apply bg-white text-black;
				}

				&.primary {
					@apply bg-primary;
				}

				&.secondary {
					@apply bg-secondary;
				}

				&.tertiary {
					@apply bg-tertiary;
				}

				&.success {
					@apply bg-success;
				}

				&.info {
					@apply bg-info;
				}

				&.warning {
					@apply bg-warning;
				}

				&.error {
					@apply bg-error;
				}
			}
		}
	}
}
