<div
	class="twyr-pagination"
	{{on-mutation this.onClassListChange attributeFilter=(array "class")}}
	{{store-element this.storeElement}}
	{{watch-design-system-change this.onDesignSystemChange}}

	...attributes
>
	{{#if (not-eq this.designSystem "patternfly")}}
		<div class="twyr-pagination-count text-{{this.activeClass}}">
			Rows per page {{this.itemsPerPage}}
		</div>
	{{/if}}
	<div class="twyr-pagination-count text-{{this.activeClass}}">
		{{this.currentPageItemStart}} - {{this.currentPageItemEnd}} / {{@numItems}}
	</div>
	<ul>
		<li class="twyr-pagination-item">
			<TwyrButton
				class="text-button {{this.activeClass}}"
				{{on "click" this.onFirst}}
			>
				<TwyrIcon @icon="caret-left" />
			</TwyrButton>
		</li>

		<li class="twyr-pagination-item">
			<TwyrButton
				class="text-button {{this.activeClass}}"
				{{on "click" this.onPrevious}}
			>
				<TwyrIcon @icon="arrow-left" />
			</TwyrButton>
		</li>

		{{#if (or (eq this.designSystem "bootstrap") (eq this.designSystem "tailwind"))}}
		{{#each this.pageNumbers as |pageNumber|}}
			<li class="twyr-pagination-item">
				<TwyrButton
					class="{{if (eq this.currentPage pageNumber) "filled-button" "text-button"}} {{this.activeClass}}"
					{{on "click" (fn this.onChangePage pageNumber)}}
				>
					{{pageNumber}}
				</TwyrButton>
			</li>
		{{/each}}
		{{/if}}

		<li class="twyr-pagination-item">
			<TwyrButton
				class="text-button {{this.activeClass}}"
				{{on "click" this.onNext}}
			>
				<TwyrIcon @icon="arrow-right" />
			</TwyrButton>
		</li>

		<li
			class="twyr-pagination-item"
			{{maintain-contrast designSystem=this.designSystem bwOnly=true}}
		>
			<TwyrButton
				class="text-button {{this.activeClass}}"
				{{on "click" this.onLast}}
			>
				<TwyrIcon @icon="caret-right" />
			</TwyrButton>
		</li>
	</ul>
</div>
