<div class="twyr-card-footer" ...attributes>
	{{#if (has-block "text")}}
	<div class="twyr-card-footer-text">
		{{yield to="text"}}
	</div>
	{{/if}}

	<div
		class="twyr-card-footer-action-container"
		{{has-class-if (has-block "text") "mt-2"}}
	>
		{{#if (has-block "actionButtons")}}
			{{yield (component this.actionButtonComponent) to="actionButtons"}}
		{{/if}}

		{{#if (has-block "actionIcons")}}
			{{yield (component this.actionIconComponent) to="actionIcons"}}
		{{/if}}
	</div>
</div>
