<div class="twyr-card-body" ...attributes>
	<article class="container mb-4 grid grid-cols-1 text-left">
		{{#if (has-block "title")}}
			{{yield (component this.titleComponent) to="title"}}
		{{/if}}
		{{#if (has-block "subtitle")}}
			{{yield (component this.subtitleComponent) to="subtitle"}}
		{{/if}}
	</article>

	{{#if (has-block "text")}}
	<div class="twyr-card-body-text">
		{{yield to="text"}}
	</div>
	{{/if}}
</div>
