@layer components {
	.material .twyr-accordion,
	.twyr-accordion.material {
		& .twyr-accordion-item {
			@apply border;

			& .twyr-button {
				& > .twyr-sub-headline {
					@apply fw-30 text-left font-bold;

					width: 30%;
					min-width: 30%;
				}

				& > .twyr-accordion-item-trigger-text {
					@apply px-4 prose font-light text-sm;
				}
			}

			&:first-child {
				@apply rounded-t;
			}

			&:last-child {
				@apply rounded-b;
			}

			&.expanded {
				@apply rounded elevation-4;
				@apply mb-2;

				&:not(:first-child) {
					@apply mt-2;
				}

				& > .twyr-accordion-item-content {
					@apply px-4 py-2;
				}
			}
		}
	}
}
