{{!-- template-lint-disable no-invalid-interactive --}}
<div
	class="twyr-list-toolbar"
	{{watch-design-system-change this.onDesignSystemChange}}
	...attributes
>
	<div
		class="twyr-list-toolbar-indicator"
		{{on "click" this.toggleAll}}
	>
		{{#if (and @contentBlocks @expandable)}}
			{{#if (not-eq this.designSystem "patternfly")}}
				{{#if @expanded}}
					<TwyrIcon @icon="angle-up" />
				{{else}}
					<TwyrIcon @icon="angle-down" />
				{{/if}}
			{{else}}
				{{#if @expanded}}
					<TwyrIcon @icon="angle-down" />
				{{else}}
					<TwyrIcon @icon="angle-right" />
				{{/if}}
			{{/if}}
		{{/if}}
	</div>

	{{#if (has-block "thumbnail")}}
		<div class="twyr-list-toolbar-thumbnail">
			{{yield (component this.thumbnailComponent) to="thumbnail"}}
		</div>
	{{/if}}

	{{#if (has-block "icon")}}
		<div class="twyr-list-toolbar-icon">
			{{yield (component this.iconComponent) to="icon"}}
		</div>
	{{/if}}

	<div class="twyr-list-toolbar-content">
		{{#if (has-block "content")}}
			{{yield to="content"}}
		{{else}}
			&nbsp;
		{{/if}}
	</div>

	{{#if (has-block "actions")}}
		<div class="twyr-list-toolbar-actions">
			{{yield to="actions"}}
		</div>
	{{/if}}

	{{#if (has-block "menu")}}
		<div class="twyr-list-toolbar-menu">
			{{yield (component this.menuComponent xAlign="right") to="menu"}}
		</div>
	{{/if}}
</div>
