@layer components {
	.twyr-pagination {
		@apply flex flex-row flex-wrap justify-center content-center items-center;

		& > .twyr-pagination-count {
			@apply flex flex-row justify-center content-center items-center;
			@apply mr-10;
			@apply text-xs lg:text-sm text-center;
			@apply font-medium;
			@apply whitespace-nowrap;
		}

		& > ul {
			@apply m-0 border-0 p-0;
			@apply flex flex-row justify-center content-center items-center;
			@apply list-none;

			& > .twyr-pagination-item {
				@apply flex flex-row justify-center content-center items-center;
			}
		}

		&.black {
			@apply border-black;
		}

		&.darkest {
			@apply border-darkest;
		}

		&.darker {
			@apply border-darker;
		}

		&.dark {
			@apply border-dark;
		}

		&.light {
			@apply border-light;
		}

		&.lighter {
			@apply border-lighter;
		}

		&.lightest {
			@apply border-lightest;
		}

		&.white {
			@apply border-white;
		}

		&.primary {
			@apply border-primary;
		}

		&.secondary {
			@apply border-secondary;
		}

		&.tertiary {
			@apply border-tertiary;
		}

		&.success {
			@apply border-success;
		}

		&.info {
			@apply border-info;
		}

		&.warning {
			@apply border-warning;
		}

		&.error {
			@apply border-error;
		}
	}
}
