<div
	id={{this.contentId}}
	class="twyr-basic-dropdown-content"
	{{on-args-change this.setNewPosition @xAlign @xOffset @yAlign @yOffset @matchTriggerWidth}}
	{{store-element this.storeElement}}

	...attributes
>
	{{yield @dropdownControls @dropdownStatus}}
</div>
