@layer components {
	.material .twyr-masthead,
	.twyr-masthead.material {
		& > .twyr-masthead-container > .twyr-masthead-container-title {
			&.top {
				@apply flex-grow mx-1 lg:mx-2 2xl:mx-3;
			}

			&.bottom {
				@apply hidden;
			}
		}
	}
}
