@layer components {
	.material .twyr-masthead,
	.twyr-masthead.material {
		& > .twyr-masthead-container > .twyr-masthead-container-actions {
			&.top {
				@apply px-2 lg:px-3 2xl:px-4;
			}

			&.bottom {
				@apply hidden;
			}
		}
	}
}
