<div
	class="twyr-masthead-container"
 	{{has-class-if (not this.isContainerFluid) "container mx-auto"}}
	{{has-class-if @actionMode this.actionBarBackground}}
 	{{store-element this.storeElement}}
	{{watch-design-system-change this.onDesignSystemChange}}
	...attributes
>
	{{#if (has-block "brand")}}
		{{yield (component this.brandComponent actionMode=@actionMode designSystem=this.designSystem position=@position) to="brand"}}
	{{/if}}
	{{#if (has-block "navigation")}}
		{{yield (component this.navigationComponent actionMode=@actionMode designSystem=this.designSystem position=@position collapsedMenuElement=this.collapsedMenuElement toggleCollapsedMenu=this.toggleCollapsedMenu) to="navigation"}}
	{{/if}}
	{{#if (has-block "title")}}
		{{yield (component this.titleComponent actionMode=@actionMode designSystem=this.designSystem position=@position) to="title"}}
	{{/if}}
	{{#if (has-block "overflowMenu")}}
		{{yield (component this.overflowMenuComponent actionMode=@actionMode designSystem=this.designSystem position=@position) to="overflowMenu"}}
	{{/if}}
</div>
<div
	class="twyr-masthead-container-collapsed-menu"
	{{has-class-if (not this.isContainerFluid) "container mx-auto"}}
	{{has-class-if (not this.showCollapsedMenu) "hidden"}}
	{{on-args-change this.onActionModeChanged @actionMode}}
>
	<ul
		class="list-none flex flex-col"
		{{store-element this.storeCollapsedMenuElement}}
	>
	</ul>
</div>
