@layer components {
	.patternfly .twyr-accordion,
	.twyr-accordion.patternfly {
		& .twyr-accordion-item.expanded {
			@apply border-0 border-l-4;

			& .twyr-button:first-child .twyr-sub-headline {
				@apply font-bold;
			}
		}

		& .twyr-accordion-item-content {
			@apply px-4 py-1.5;
		}

		&.black .twyr-accordion-item.expanded {
			@apply border-black;
		}

		&.darkest .twyr-accordion-item.expanded {
			@apply border-darkest;
		}

		&.darker .twyr-accordion-item.expanded {
			@apply border-darker;
		}

		&.dark .twyr-accordion-item.expanded {
			@apply border-dark;
		}

		&.light .twyr-accordion-item.expanded {
			@apply border-light;
		}

		&.lighter .twyr-accordion-item.expanded {
			@apply border-lighter;
		}

		&.lightest .twyr-accordion-item.expanded {
			@apply border-lightest;
		}

		&.white .twyr-accordion-item.expanded {
			@apply border-white;
		}

		&.primary .twyr-accordion-item.expanded {
			@apply border-primary;
		}

		&.secondary .twyr-accordion-item.expanded {
			@apply border-secondary;
		}

		&.tertiary .twyr-accordion-item.expanded {
			@apply border-tertiary;
		}

		&.success .twyr-accordion-item.expanded {
			@apply border-success;
		}

		&.info .twyr-accordion-item.expanded {
			@apply border-info;
		}

		&.warning .twyr-accordion-item.expanded {
			@apply border-warning;
		}

		&.error .twyr-accordion-item.expanded {
			@apply border-error;
		}
	}
}
