@layer components {
	.twyr-alert-manager {
		@apply fixed;
		@apply top-0 right-0 bottom-0 left-0;
		@apply border-transparent;
		@apply grid grid-flow-row lg:grid-flow-col grid-cols-1 lg:grid-cols-3 grid-rows-1 lg:grid-rows-3 gap-0 lg:gap-2;
		@apply pointer-events-none z-50;

		& > .twyr-alert-area {
			@apply pointer-events-none p-0 md:p-4 lg:p-6 xl:p-8;

			&.left.top {
				@apply flex flex-col justify-start content-center items-center lg:content-start lg:items-start;
			}

			&.center.top {
				@apply flex flex-col justify-start content-center items-center;
			}

			&.right.top {
				@apply flex flex-col justify-start content-center items-center lg:content-end lg:items-end;
			}

			&.left.middle {
				@apply flex flex-col justify-center content-center items-center lg:content-start lg:items-start;
			}

			&.center.middle {
				@apply flex flex-col justify-center content-center items-center;
			}

			&.right.middle {
				@apply flex flex-col justify-center content-center items-center lg:content-end lg:items-end;
			}

			&.left.bottom {
				@apply flex flex-col-reverse justify-start content-center items-center lg:content-start lg:items-start;
			}

			&.center.bottom {
				@apply flex flex-col-reverse justify-start content-center items-center;
			}

			&.right.bottom {
				@apply flex flex-col-reverse justify-start content-center items-center lg:content-end lg:items-end;
			}

			& > .twyr-alert {
				@apply max-w-full flex flex-row justify-start content-center items-center;
				@apply pointer-events-auto;
				@apply border-0;
				@apply overflow-ellipsis break-words whitespace-pre-line;

				&.black {
					@apply border-black text-black;
				}

				&.darkest {
					@apply border-darkest text-darkest;
				}

				&.darker {
					@apply border-darker text-darker;
				}

				&.dark {
					@apply border-dark text-dark;
				}

				&.light {
					@apply border-light text-light;
				}

				&.lighter {
					@apply border-lighter text-lighter;
				}

				&.lightest {
					@apply border-lightest text-lightest;
				}

				&.white {
					@apply border-white text-white;
				}

				&.primary {
					@apply border-primary text-primary;
				}

				&.secondary {
					@apply border-secondary text-secondary;
				}

				&.tertiary {
					@apply border-tertiary text-tertiary;
				}

				&.success {
					@apply border-success text-success;
				}

				&.info {
					@apply border-info text-info;
				}

				&.warning {
					@apply border-warning text-warning;
				}

				&.error {
					@apply border-error text-error;
				}
			}
		}
	}
}
