@layer components {
	.patternfly .twyr-modal-container > .twyr-modal,
	.twyr-modal-container > .twyr-modal.patternfly {
		& > .twyr-modal-header {
			@apply m-0 border-0 p-6 pb-0;

			> .twyr-modal-header-title {
				@apply m-0 border-0 p-0;
				@apply text-xl leading-6;
			}
		}

		& > .twyr-modal-body {
			@apply m-0 border-0 p-0 px-6 pt-4;
		}

		& > .twyr-modal-footer {
			@apply m-0 border-0 p-6;
		}
	}
}
