{{page-title "Twy'r Multi DSL"}}

<TwyrMasthead
	class="relative bg-lighter text-darker"
	@actionMode={{this.actionMode}}
	@actionBarBackground="bg-coolGray-100 text-dark"
	@fluid={{true}}
	@position="top"
>
	<:container as |Container|>
		<Container>
			<:brand as |Brand|>
				<Brand href="//twyr.github.io">
					<:image>
						<img class="mr-1 lg:mr-2 2xl:mr-3 rounded-full" src="https://images.unsplash.com/photo-1499714608240-22fc6ad53fb2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80" alt="Brand" />
					</:image>
					<:icon>
						<TwyrIcon class="mr-1 lg:mr-2 2xl:mr-3" @icon="alarm-fill" />
					</:icon>
					<:text>
						Twy'r
					</:text>
				</Brand>
			</:brand>

			<:title as |Title|>
				<Title @text="Twy'r" />
			</:title>

			<:navigation as |Navigation|>
				<Navigation>
					{{#if this.actionMode}}
						<div class="flex-grow flex flex-row justify-start content-center items-center text-sm md:text-base lg:text-lg xl:text-xl 2xl:text-2xl">
							<TwyrIcon class="mx-1" @icon="home" />
							<TwyrIcon class="mx-1" @icon="asterisk" />
						</div>
						<div class="flex flex-row justify-end content-center items-center text-sm md:text-base lg:text-lg xl:text-xl 2xl:text-2xl">
							<TwyrIcon class="mx-1" @icon="trash" />
						</div>
					{{else}}
						<li class="nav-item">Twy'r</li>
						<li class="nav-item">DSL</li>
					{{/if}}
				</Navigation>
			</:navigation>

			<:overflowMenu as |Menu|>
				<Menu />
			</:overflowMenu>
		</Container>
	</:container>
</TwyrMasthead>

<TwyrBannerContainer />

<TwyrBreadcrumbContainer::Crumb>
	Home
</TwyrBreadcrumbContainer::Crumb>

<TwyrBreadcrumbContainer::Crumb>
	Crumb
</TwyrBreadcrumbContainer::Crumb>

<div class="flex-grow my-4 p-0 xl:px-4 overflow-hidden overflow-y-auto">
	<div class="relative flex flex-col xl:flex-row flex-nowrap gap-2 justify-center content-center xl:content-start items-center xl:items-start">
		<TwyrSidebar
			class="bg-lighter text-darkest self-stretch"
			@position="left"
			@locked={{false}}
			@modal={{false}}
			@overlay={{false}}
			@clickOutsideToClose={{false}}
			@controlElement={{this.sidebarControlElement}}
		>
			<:header>Hello, World!</:header>
		 	<:content>
Nunc eget nisi orci. Cras bibendum risus leo. Ut faucibus sed sapien vel ultrices. Phasellus congue ultrices augue,
ut sagittis lacus. Etiam tempus velit nulla. Fusce euismod varius eros. Integer malesuada libero massa, ultricies
feugiat nunc sagittis vitae. Donec id arcu elit. Vestibulum et enim in enim egestas auctor eu non massa. In venenatis orci
in accumsan pretium. Pellentesque feugiat mauris quis dolor finibus, vel ullamcorper erat efficitur. Fusce feugiat
ipsum vitae sem pharetra, ut consectetur mi pulvinar. Praesent volutpat sem nec commodo vestibulum. Etiam finibus sapien
aliquam bibendum gravida. Etiam ut libero mollis, consequat purus vel, tristique felis.
			</:content>
		</TwyrSidebar>

		<TwyrCard class="fw-100 xl:fw-25 elevated">
			<:header as |Header|>
				<Header>
					<:leftThumbnail as |Thumbnail|>
						<Thumbnail @alt="Left Thumbnail"
							@src="https://images.unsplash.com/photo-1499714608240-22fc6ad53fb2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80"
							@raised={{false}} />
					</:leftThumbnail>

					<:headline as |Headline|>
						<Headline>Headline</Headline>
					</:headline>

					<:subheadline as |SubHeadline|>
						<SubHeadline>Sub-Headline</SubHeadline>
					</:subheadline>

					<:rightMenu as |OverflowMenu|>
						<TwyrSidebar::Toggle {{store-element this.setSidebarControl}}>
							<TwyrIcon @icon="hamburger-menu" />
						</TwyrSidebar::Toggle>

						<OverflowMenu as |MenuItem|>
							<MenuItem>
							<:default>
								<TwyrIcon @icon="overflow-menu" />
							</:default>
							<:submenu as |ItemList|>
								<ItemList as |SubMenuItem|>
									<SubMenuItem>Hello, World</SubMenuItem>
									<SubMenuItem>
										<:default>
											How are you?
										</:default>
										<:submenu as |SubitemList|>
											<SubitemList as |SubSubMenuItem|>
												<SubSubMenuItem>I&apos;m ok</SubSubMenuItem>
												<SubSubMenuItem>You&apos;re ok</SubSubMenuItem>
											</SubitemList>
										</:submenu>
									</SubMenuItem>
								</ItemList>
							</:submenu>
							</MenuItem>
						</OverflowMenu>
					</:rightMenu>

					<:text>
						<TwyrDivider class="my-2" />
							<TwyrPagination
								class="primary"
								@numItems={{this.totalItems}}
								@itemsPerPage={{this.itemsPerPage}}
								@currentPage={{this.currentPage}}
								@onPageChange={{this.onPageChange}}
							/>
						<TwyrDivider class="my-2" />
					</:text>
				</Header>
			</:header>

			<:media as |Media|>
				<Media
					@src="https://images.unsplash.com/photo-1499714608240-22fc6ad53fb2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80" />
			</:media>

			<:body as |Body|>

				<Body>
					<:title as |Title|>
						<Title>Title</Title>
					</:title>

					<:subtitle as |Subtitle|>
						<Subtitle>Sub-Title</Subtitle>
					</:subtitle>

					<:text>
						<TwyrIcon class="text-red" @icon="refresh" @ping={{true}} />
						<span>YOLO!</span>
					</:text>
				</Body>
			</:body>

			<:footer as |Footer|>
				<Footer>
					<:text>
						TTYL
						<TwyrDivider class="mt-2" />
					</:text>

					<:actionButtons as |ActionButtons|>
						<ActionButtons class="flex-nowrap">
							<TwyrButton class="tertiary filled-button icon-button raised mx-1" {{on "click" this.showDialog}}>
								<TwyrIcon @icon="home" />
								<TwyrBadge class="darkest centered">4</TwyrBadge>
							</TwyrButton>
							<TwyrButton class="dark filled-button mx-1">Contained</TwyrButton>
							<TwyrButton class="error text-white filled-button raised mx-1" {{on "click" this.buttonClicked}}>
								<TwyrIcon class="mr-1" @icon="home" />
								Contained Raised
							</TwyrButton>
						</ActionButtons>
					</:actionButtons>

					<:actionIcons as |ActionIcons|>
						<ActionIcons class="flex-nowrap">
							<TwyrIcon class="mx-1 text-info" @icon="refresh" @reverseSpin={{true}} />
							<TwyrIcon class="mx-1 text-warn" @icon="refresh" @spin={{true}} />
						</ActionIcons>
					</:actionIcons>
				</Footer>
				<Footer>
					<:actionButtons as |ActionButtons|>
						<ActionButtons>
							<TwyrButton id="test-button-1" class="error text-button mx-1">
								Text Button
								<TwyrBadge class="primary">10+</TwyrBadge>
							</TwyrButton>
							<TwyrButton id="test-button-2" class="primary outline-button mx-1">
								<TwyrIcon class="mr-1" @icon="home" />
								Outline
								<TwyrBadge class="bg-red text-white floating rounded-full">2500+</TwyrBadge>
							</TwyrButton>
						</ActionButtons>
					</:actionButtons>
				</Footer>
			</:footer>
		</TwyrCard>

		<TwyrCard class="fw-100 xl:fw-unset xl:flex-none mt-2 xl:mt-0 elevated">
			<:header as |Header|>
				<Header>
					<:text>
						<TwyrBreadcrumbContainer @divider="{{this.divider}}" />
					</:text>
				</Header>
			</:header>
			<:body as |Body|>

				<Body class="truncate">
					<:title as |Title|>
						<Title>Carousel</Title>
					</:title>

					<:subtitle as |Subtitle|>
						<Subtitle>Demo</Subtitle>
					</:subtitle>

					<:text>
						<TwyrCarousel class="border rounded mb-4" @controls={{true}} @indicators={{true}} as |Carousel|>
							<Carousel.Item class="bg-primary">
								<div class="p-8 flex flex-col">
									<span>This is Carousel Item # 1.1</span>
									<span>This is Carousel Item # 1.2</span>
									<span>This is Carousel Item # 1.3</span>
								</div>
							</Carousel.Item>
							<Carousel.Item class="bg-secondary">
								<div class="p-8 flex flex-col">
									<span>This is Carousel Item # 2.1</span>
									<span>This is Carousel Item # 2.2</span>
									<span>This is Carousel Item # 2.3</span>
								</div>
							</Carousel.Item>
							<Carousel.Item class="bg-tertiary">
								<div class="p-8 flex flex-col">
									<span>This is Carousel Item # 3.1</span>
									<span>This is Carousel Item # 3.2</span>
									<span>This is Carousel Item # 3.3</span>
								</div>
							</Carousel.Item>
						</TwyrCarousel>

						<TwyrCarousel class="border rounded mt-4" @controls={{true}} @direction="right" @indicators={{true}} as
							|Carousel|>
							<Carousel.Item class="bg-primary">
								<div class="p-8 flex flex-col">
									<span>This is Carousel Item # 1.1</span>
									<span>This is Carousel Item # 1.2</span>
									<span>This is Carousel Item # 1.3</span>
								</div>
							</Carousel.Item>
							<Carousel.Item class="bg-secondary">
								<div class="p-8 flex flex-col">
									<span>This is Carousel Item # 2.1</span>
									<span>This is Carousel Item # 2.2</span>
									<span>This is Carousel Item # 2.3</span>
								</div>
							</Carousel.Item>
							<Carousel.Item class="bg-tertiary">
								<div class="p-8 flex flex-col">
									<span>This is Carousel Item # 3.1</span>
									<span>This is Carousel Item # 3.2</span>
									<span>This is Carousel Item # 3.3</span>
								</div>
							</Carousel.Item>
						</TwyrCarousel>
					</:text>
				</Body>
			</:body>
		</TwyrCard>

		<TwyrCard class="fw-100 xl:fw-30 mt-2 xl:mt-0 elevated">
			<:body as |Body|>

				<Body>
					<:title as |Title|>
						<Title>Title</Title>
					</:title>

					<:subtitle as |Subtitle|>
						<Subtitle>Sub-Title</Subtitle>
					</:subtitle>

					<:text>
						<TwyrList @expandable={{true}} @ordered={{true}}>
							<:toolbar as |Toolbar|>
								<Toolbar>
									<:thumbnail as |Thumbnail|>
										<Thumbnail alt="List Thumbnail"
											src="https://images.unsplash.com/photo-1499714608240-22fc6ad53fb2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80" />
									</:thumbnail>

									<:icon as |Icon|>
										<Icon @icon="home" />
									</:icon>

									<:menu as |OverflowMenu|>
										<OverflowMenu as |MenuItem|>
											<MenuItem>
											<:default>
												<TwyrIcon @icon="overflow-menu" />
											</:default>
											<:submenu as |ItemList|>
												<ItemList as |SubMenuItem|>
													<SubMenuItem>Hello, World</SubMenuItem>
													<SubMenuItem>
														<:default>
															How are you?
														</:default>
														<:submenu as |SubitemList|>
															<SubitemList as |SubSubMenuItem|>
																<SubSubMenuItem>I&apos;m ok</SubSubMenuItem>
																<SubSubMenuItem>You&apos;re ok</SubSubMenuItem>
															</SubitemList>
														</:submenu>
													</SubMenuItem>
												</ItemList>
											</:submenu>
											</MenuItem>
										</OverflowMenu>
									</:menu>
								</Toolbar>
							</:toolbar>

							<:items as |Item|>
								<Item>
									<:thumbnail as |Thumbnail|>
										<Thumbnail alt="List Thumbnail"
											src="https://images.unsplash.com/photo-1499714608240-22fc6ad53fb2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80" />
									</:thumbnail>

									<:icon as |Icon|>
										<Icon @icon="home" />
									</:icon>

									<:headline as |Headline|>
										<Headline class="primary">Primary Colour</Headline>
									</:headline>
									<:subheadline as |Subheadline|>
										<Subheadline class="primary">Primary Colour</Subheadline>
									</:subheadline>

									<:menu as |OverflowMenu|>
										<OverflowMenu as |MenuItem|>
											<MenuItem>
											<:default>
												<TwyrIcon @icon="overflow-menu" />
											</:default>
											<:submenu as |ItemList|>
												<ItemList as |SubMenuItem|>
													<SubMenuItem>Hello, World</SubMenuItem>
													<SubMenuItem>
														<:default>
															How are you?
														</:default>
														<:submenu as |SubitemList|>
															<SubitemList as |SubSubMenuItem|>
																<SubSubMenuItem>I&apos;m ok</SubSubMenuItem>
																<SubSubMenuItem>You&apos;re ok</SubSubMenuItem>
															</SubitemList>
														</:submenu>
													</SubMenuItem>
												</ItemList>
											</:submenu>
											</MenuItem>
										</OverflowMenu>
									</:menu>

									<:content>
										Primary Colour is the very, very best.
										Really, truly, the best colour on Earth.
										Primary Colour is the very, very best.
										Really, truly, the best colour on Earth
									</:content>
								</Item>
								<Item>
									<:thumbnail as |Thumbnail|>
										<Thumbnail alt="List Thumbnail"
											src="https://images.unsplash.com/photo-1499714608240-22fc6ad53fb2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80" />
									</:thumbnail>

									<:icon as |Icon|>
										<Icon @icon="home" />
									</:icon>

									<:headline as |Headline|>
										<Headline class="secondary">Secondary Colour is the very, very best</Headline>
									</:headline>
									<:subheadline as |Subheadline|>
										<Subheadline class="secondary">
											Secondary Colour is the very, very best.
											Really, truly, the best colour on Earth.
											Secondary Colour is the very, very best.
											Really, truly, the best colour on Earth
										</Subheadline>
									</:subheadline>

									<:menu as |OverflowMenu|>
										<OverflowMenu as |MenuItem|>
											<MenuItem>
											<:default>
												<TwyrIcon @icon="overflow-menu" />
											</:default>
											<:submenu as |ItemList|>
												<ItemList as |SubMenuItem|>
													<SubMenuItem>Hello, World</SubMenuItem>
													<SubMenuItem>
														<:default>
															How are you?
														</:default>
														<:submenu as |SubitemList|>
															<SubitemList as |SubSubMenuItem|>
																<SubSubMenuItem>I&apos;m ok</SubSubMenuItem>
																<SubSubMenuItem>You&apos;re ok</SubSubMenuItem>
															</SubitemList>
														</:submenu>
													</SubMenuItem>
												</ItemList>
											</:submenu>
											</MenuItem>
										</OverflowMenu>
									</:menu>

									<:content>
										Secondary Colour is the very, very best.
										Really, truly, the best colour on Earth.
										Secondary Colour is the very, very best.
										Really, truly, the best colour on Earth
									</:content>
								</Item>
								<Item>
									<:headline as |Headline|>
										<Headline class="tertiary">Tertiary Colour</Headline>
									</:headline>
									<:subheadline as |Subheadline|>
										<Subheadline class="tertiary">Tertiary Colour</Subheadline>
									</:subheadline>
								</Item>
								<Item>
									<:headline as |Headline|>
										<Headline>&nbsp;</Headline>
									</:headline>
								</Item>
								<Item>
									<:headline as |Headline|>
										<Headline class="success">Success Colour</Headline>
									</:headline>
									<:subheadline as |Subheadline|>
										<Subheadline class="success">Success Colour</Subheadline>
									</:subheadline>
								</Item>
								<Item>
									<:headline as |Headline|>
										<Headline class="info">Info Colour</Headline>
									</:headline>
									<:subheadline as |Subheadline|>
										<Subheadline class="info">Info Colour</Subheadline>
									</:subheadline>
								</Item>
								<Item>
									<:headline as |Headline|>
										<Headline class="warning">Warning Colour</Headline>
									</:headline>
									<:subheadline as |Subheadline|>
										<Subheadline class="warning">Warning Colour</Subheadline>
									</:subheadline>
								</Item>
								<Item>
									<:headline as |Headline|>
										<Headline class="error">Error Colour</Headline>
									</:headline>
									<:subheadline as |Subheadline|>
										<Subheadline class="error">Error Colour</Subheadline>
									</:subheadline>
								</Item>
								<Item>
									<:headline as |Headline|>
										<Headline>&nbsp;</Headline>
									</:headline>
									<:subheadline as |Subheadline|>
										<Subheadline>&nbsp;</Subheadline>
									</:subheadline>
								</Item>
								<Item>
									<:headline as |Headline|>
										<Headline class="bg-white black">Black Colour</Headline>
									</:headline>
									<:subheadline as |Subheadline|>
										<Subheadline class="bg-white black">Black Colour</Subheadline>
									</:subheadline>
								</Item>
								<Item>
									<:headline as |Headline|>
										<Headline class="bg-lightest darkest">Darkest Colour</Headline>
									</:headline>
									<:subheadline as |Subheadline|>
										<Subheadline class="bg-lightest darkest">Darkest Colour</Subheadline>
									</:subheadline>
								</Item>
								<Item>
									<:headline as |Headline|>
										<Headline class="bg-lighter darker">Darker Colour</Headline>
									</:headline>
									<:subheadline as |Subheadline|>
										<Subheadline class="bg-lighter darker">Darker Colour</Subheadline>
									</:subheadline>
								</Item>
								<Item>
									<:headline as |Headline|>
										<Headline class="bg-light dark">Dark Colour</Headline>
									</:headline>
									<:subheadline as |Subheadline|>
										<Subheadline class="bg-light dark">Dark Colour</Subheadline>
									</:subheadline>
								</Item>
								<Item>
									<:headline as |Headline|>
										<Headline class="bg-dark light">Light Colour</Headline>
									</:headline>
									<:subheadline as |Subheadline|>
										<Subheadline class="bg-dark light">Light Colour</Subheadline>
									</:subheadline>
								</Item>
								<Item>
									<:headline as |Headline|>
										<Headline class="bg-darker lighter">Lighter Colour</Headline>
									</:headline>
									<:subheadline as |Subheadline|>
										<Subheadline class="bg-darker lighter">Lighter Colour</Subheadline>
									</:subheadline>
								</Item>
								<Item>
									<:headline as |Headline|>
										<Headline class="bg-darkest lightest">Lightest Colour</Headline>
									</:headline>
									<:subheadline as |Subheadline|>
										<Subheadline class="bg-darkest lightest">Lightest Colour</Subheadline>
									</:subheadline>
								</Item>
								<Item>
									<:headline as |Headline|>
										<Headline class="bg-black white">White Colour</Headline>
									</:headline>
									<:subheadline as |Subheadline|>
										<Subheadline class="bg-black white">White Colour</Subheadline>
									</:subheadline>
								</Item>
							</:items>
						</TwyrList>
					</:text>
				</Body>
			</:body>
		</TwyrCard>

		<TwyrAccordion class="fw-100 xl:fw-30 mt-2 lg:mt-0" @multiple={{false}} as |AccordionItem|>
			<AccordionItem @expanded={{true}}>
				<:title as |Title|>
					<Title>Item #1</Title>
				</:title>
				<:subtitle>
					Subtitle #1
				</:subtitle>
				<:content>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et mauris hendrerit, iaculis orci nec,
						lobortis erat.
						Vivamus vel scelerisque ante, ultrices vehicula dui. In eu pellentesque nunc. Donec fringilla sit amet
						magna eu
						ultrices. Curabitur fermentum rhoncus urna, ut ultrices nisl semper vitae. Ut tortor metus, cursus sit
						amet nisi non,
						accumsan sodales ante. Aliquam id cursus est, ac vestibulum quam. Sed vulputate enim a nibh vestibulum
						maximus.
					</p>
					<p class="mt-2">
						Aliquam blandit augue pellentesque mauris consequat laoreet sodales in lorem. Cras aliquam, arcu ac
						iaculis tempus, ex
						ante elementum mauris, non aliquam lacus dolor nec arcu. Aliquam sem est, tincidunt eu dapibus non,
						commodo vel mi.
						Proin vel nunc et erat lobortis maximus. Suspendisse nec facilisis libero. Curabitur leo massa, egestas
						blandit tellus
						nec, pellentesque lobortis metus. Donec quis posuere tortor. Nulla ut leo at sem porta dignissim. Duis
						ligula orci,
						porttitor et urna sit amet, efficitur rutrum urna. Cras et cursus purus.
					</p>
					<p class="mt-2">
						Nunc eget nisi orci. Cras bibendum risus leo. Ut faucibus sed sapien vel ultrices. Phasellus congue
						ultrices augue, ut
						sagittis lacus. Etiam tempus velit nulla. Fusce euismod varius eros. Integer malesuada libero massa,
						ultricies feugiat
						nunc sagittis vitae. Donec id arcu elit. Vestibulum et enim in enim egestas auctor eu non massa. In
						venenatis orci in
						accumsan pretium. Pellentesque feugiat mauris quis dolor finibus, vel ullamcorper erat efficitur. Fusce
						feugiat ipsum
						vitae sem pharetra, ut consectetur mi pulvinar. Praesent volutpat sem nec commodo vestibulum. Etiam
						finibus sapien
						aliquam bibendum gravida. Etiam ut libero mollis, consequat purus vel, tristique felis.
					</p>
					<p class="mt-2">
						Ut molestie euismod fringilla. Maecenas a elementum est. Nunc rutrum risus eget purus accumsan, eu
						eleifend augue
						fringilla. Duis blandit quam nibh, vel hendrerit augue lobortis et. Lorem ipsum dolor sit amet,
						consectetur adipiscing
						elit. Curabitur eu maximus sapien. Suspendisse diam quam, varius maximus quam eu, ornare eleifend
						turpis. Sed in gravida
						urna. Duis sit amet aliquam velit, ac interdum leo. Sed at erat neque. Curabitur varius sed orci id
						posuere. Duis et
						quam pulvinar, mattis odio sit amet, rhoncus ex. Praesent scelerisque sapien eget convallis viverra.
						Aliquam pulvinar
						lacinia augue, in aliquam tortor rutrum a. Etiam blandit venenatis mollis.
					</p>
					<p class="mt-2">
						Donec ac lacinia leo, vitae vulputate est. Fusce molestie mauris convallis libero vestibulum varius.
						Curabitur rutrum
						metus eget mollis ultricies. Vivamus aliquet, augue eu tempor faucibus, lectus magna tempus sapien, nec
						consequat nulla
						lorem eget sapien. Nunc nisl massa, rutrum nec lobortis ac, pharetra id diam. Integer ut eros ultricies,
						consectetur
						felis eget, tempus arcu. Phasellus scelerisque magna dictum velit porta, sit amet scelerisque enim
						gravida. Phasellus
						urna massa, semper pretium congue at, auctor nec dolor. Praesent porta et enim eget tristique. Cras
						porttitor nisl
						turpis, eget dignissim elit bibendum quis.
					</p>
				</:content>
			</AccordionItem>
			<AccordionItem @expanded={{false}}>
				<:title as |Title|>
					<Title>Item #2</Title>
				</:title>
				<:subtitle>
					Subtitle #2
				</:subtitle>
				<:content>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et mauris hendrerit, iaculis orci nec,
						lobortis erat.
						Vivamus vel scelerisque ante, ultrices vehicula dui. In eu pellentesque nunc. Donec fringilla sit amet
						magna eu
						ultrices. Curabitur fermentum rhoncus urna, ut ultrices nisl semper vitae. Ut tortor metus, cursus sit
						amet nisi non,
						accumsan sodales ante. Aliquam id cursus est, ac vestibulum quam. Sed vulputate enim a nibh vestibulum
						maximus.
					</p>
					<p class="mt-2">
						Aliquam blandit augue pellentesque mauris consequat laoreet sodales in lorem. Cras aliquam, arcu ac
						iaculis tempus, ex
						ante elementum mauris, non aliquam lacus dolor nec arcu. Aliquam sem est, tincidunt eu dapibus non,
						commodo vel mi.
						Proin vel nunc et erat lobortis maximus. Suspendisse nec facilisis libero. Curabitur leo massa, egestas
						blandit tellus
						nec, pellentesque lobortis metus. Donec quis posuere tortor. Nulla ut leo at sem porta dignissim. Duis
						ligula orci,
						porttitor et urna sit amet, efficitur rutrum urna. Cras et cursus purus.
					</p>
					<p class="mt-2">
						Nunc eget nisi orci. Cras bibendum risus leo. Ut faucibus sed sapien vel ultrices. Phasellus congue
						ultrices augue, ut
						sagittis lacus. Etiam tempus velit nulla. Fusce euismod varius eros. Integer malesuada libero massa,
						ultricies feugiat
						nunc sagittis vitae. Donec id arcu elit. Vestibulum et enim in enim egestas auctor eu non massa. In
						venenatis orci in
						accumsan pretium. Pellentesque feugiat mauris quis dolor finibus, vel ullamcorper erat efficitur. Fusce
						feugiat ipsum
						vitae sem pharetra, ut consectetur mi pulvinar. Praesent volutpat sem nec commodo vestibulum. Etiam
						finibus sapien
						aliquam bibendum gravida. Etiam ut libero mollis, consequat purus vel, tristique felis.
					</p>
					<p class="mt-2">
						Ut molestie euismod fringilla. Maecenas a elementum est. Nunc rutrum risus eget purus accumsan, eu
						eleifend augue
						fringilla. Duis blandit quam nibh, vel hendrerit augue lobortis et. Lorem ipsum dolor sit amet,
						consectetur adipiscing
						elit. Curabitur eu maximus sapien. Suspendisse diam quam, varius maximus quam eu, ornare eleifend
						turpis. Sed in gravida
						urna. Duis sit amet aliquam velit, ac interdum leo. Sed at erat neque. Curabitur varius sed orci id
						posuere. Duis et
						quam pulvinar, mattis odio sit amet, rhoncus ex. Praesent scelerisque sapien eget convallis viverra.
						Aliquam pulvinar
						lacinia augue, in aliquam tortor rutrum a. Etiam blandit venenatis mollis.
					</p>
					<p class="mt-2">
						Donec ac lacinia leo, vitae vulputate est. Fusce molestie mauris convallis libero vestibulum varius.
						Curabitur rutrum
						metus eget mollis ultricies. Vivamus aliquet, augue eu tempor faucibus, lectus magna tempus sapien, nec
						consequat nulla
						lorem eget sapien. Nunc nisl massa, rutrum nec lobortis ac, pharetra id diam. Integer ut eros ultricies,
						consectetur
						felis eget, tempus arcu. Phasellus scelerisque magna dictum velit porta, sit amet scelerisque enim
						gravida. Phasellus
						urna massa, semper pretium congue at, auctor nec dolor. Praesent porta et enim eget tristique. Cras
						porttitor nisl
						turpis, eget dignissim elit bibendum quis.
					</p>
				</:content>
			</AccordionItem>
		</TwyrAccordion>
	</div>
</div>

{{outlet}}

<TwyrBannerContainer::Banner class="primary">
	<:icon as |Icon|>
		<Icon @icon="home" class="mr-4" />
	</:icon>

	<:text>
		Hello, banner!
	</:text>

	<:footer as |Footer|>
		<Footer class="text-button error uppercase">Do Something</Footer>
		<Footer class="text-button info uppercase">Dismiss</Footer>
	</:footer>
</TwyrBannerContainer::Banner>

<TwyrMasthead
	class="sitcky dark text-light"
	@position="bottom"
>
	<:container as |Container|>
		<Container>
			<:navigation as |Navigation|>
				<Navigation>
					<div class="flex-grow flex flex-row justify-center content-center items-center">
						<TwyrIcon class="-mt-4 sm:-mt-6 md:-mt-8 lg:-mt-10 xl:-mt-12 text-xl sm:text-2xl md:text-3xl lg:text-4xl 2xl:text-6xl bg-white rounded-full text-dark" @icon="plus-circle-fill" />
					</div>
				</Navigation>
			</:navigation>
		</Container>
	</:container>
</TwyrMasthead>

{{#if this.dialogVisible}}
	<TwyrModal
		class="bg-lighter"
		@clickOutsideToClose={{false}}
		@parentElement={{this.dialogParent}}
		@onClose={{this.closeDialog}}
	>
		<:header as |Header|>
			<Header>
				<:title>Dialog</:title>
				<:close as |CloseButton|>
					<CloseButton
						{{on "click" this.closeDialog}}
					/>
				</:close>
			</Header>
		</:header>

		<:body as |Body|>
			<Body>
<p>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et mauris hendrerit, iaculis orci nec, lobortis erat.
	Vivamus vel scelerisque ante, ultrices vehicula dui. In eu pellentesque nunc. Donec fringilla sit amet magna eu
	ultrices. Curabitur fermentum rhoncus urna, ut ultrices nisl semper vitae. Ut tortor metus, cursus sit amet nisi
	non,
	accumsan sodales ante. Aliquam id cursus est, ac vestibulum quam. Sed vulputate enim a nibh vestibulum maximus.
</p>
<p class="mt-2">
	Aliquam blandit augue pellentesque mauris consequat laoreet sodales in lorem. Cras aliquam, arcu ac iaculis tempus,
	ex
	ante elementum mauris, non aliquam lacus dolor nec arcu. Aliquam sem est, tincidunt eu dapibus non, commodo vel mi.
	Proin vel nunc et erat lobortis maximus. Suspendisse nec facilisis libero. Curabitur leo massa, egestas blandit
	tellus
	nec, pellentesque lobortis metus. Donec quis posuere tortor. Nulla ut leo at sem porta dignissim. Duis ligula orci,
	porttitor et urna sit amet, efficitur rutrum urna. Cras et cursus purus.
</p>
<p class="mt-2">
	Nunc eget nisi orci. Cras bibendum risus leo. Ut faucibus sed sapien vel ultrices. Phasellus congue ultrices augue,
	ut
	sagittis lacus. Etiam tempus velit nulla. Fusce euismod varius eros. Integer malesuada libero massa, ultricies
	feugiat
	nunc sagittis vitae. Donec id arcu elit. Vestibulum et enim in enim egestas auctor eu non massa. In venenatis orci
	in
	accumsan pretium. Pellentesque feugiat mauris quis dolor finibus, vel ullamcorper erat efficitur. Fusce feugiat
	ipsum
	vitae sem pharetra, ut consectetur mi pulvinar. Praesent volutpat sem nec commodo vestibulum. Etiam finibus sapien
	aliquam bibendum gravida. Etiam ut libero mollis, consequat purus vel, tristique felis.
</p>
			</Body>
		</:body>

		<:footer as |Footer|>
			<Footer>
				<TwyrButton class="success text-white filled-button mr-1" {{on "click" this.closeDialog}}>
					OK
				</TwyrButton>

				<TwyrButton class="error text-black filled-button ml-1" {{on "click" this.closeDialog}}>
					Cancel
				</TwyrButton>
			</Footer>
		</:footer>
	</TwyrModal>
{{/if}}
