<div
	class="twyr-list-container"
	{{has-class-if this.isOrdered "ordered"}}
	...attributes
>
	{{#if (has-block "toolbar")}}
		{{yield (component this.toolbarComponent
			expandable=@expandable
			expanded=this.expanded
			contentBlocks=this.hasContentBlocks
			listControls=this.listControls
		) to="toolbar"}}
	{{/if}}

	{{#if (has-block "items")}}
		{{#if this.isOrdered}}
			<ol class="twyr-list">
				{{yield (component this.itemComponent expandable=@expandable registerWithList=this.registerItem unregisterWithList=this.unregisterItem) to="items"}}
			</ol>
		{{else}}
			<ul class="twyr-list">
				{{yield (component this.itemComponent expandable=@expandable registerWithList=this.registerItem unregisterWithList=this.unregisterItem) to="items"}}
			</ul>
		{{/if}}
	{{/if}}
</div>
