{{!-- template-lint-disable no-invalid-interactive --}}
<li
	class="twyr-list-item"
	{{has-class-if this.expanded "expanded"}}
	{{store-element this.storeElement}}
	{{watch-design-system-change this.onDesignSystemChange}}

	{{on "mouseenter" this.onMouseEnter}}
	{{on "mouseleave" this.onMouseLeave}}

	...attributes
>
	<div class="twyr-list-item-trigger">
		{{#if (and @expandable (has-block "content"))}}
			<div
				class="twyr-list-item-indicator"
				{{on "click" this.toggle}}
			>
					{{#if (not-eq this.designSystem "patternfly")}}
						{{#if this.expanded}}
							<TwyrIcon @icon="angle-up" />
						{{else}}
							<TwyrIcon @icon="angle-down" />
						{{/if}}
					{{else}}
						{{#if this.expanded}}
							<TwyrIcon @icon="angle-down" />
						{{else}}
							<TwyrIcon @icon="angle-right" />
						{{/if}}
					{{/if}}
			</div>
		{{/if}}

		{{#if (has-block "thumbnail")}}
			<div class="twyr-list-item-thumbnail">
				{{yield (component this.thumbnailComponent) to="thumbnail"}}
			</div>
		{{/if}}

		{{#if (has-block "icon")}}
			<div class="twyr-list-item-icon">
				{{yield (component this.iconComponent) to="icon"}}
			</div>
		{{/if}}

		{{#if (or (has-block "headline") (has-block "subheadline"))}}
			<article class="twyr-list-item-article">
				{{#if (has-block "headline")}}
					{{yield (component this.headlineComponent) to="headline"}}
				{{/if}}
				{{#if (has-block "subheadline")}}
					{{yield (component this.subHeadlineComponent) to="subheadline"}}
				{{/if}}
			</article>
		{{/if}}

		{{#if (has-block "actions")}}
			<div class="twyr-list-item-actions">
				{{yield to="actions"}}
			</div>
		{{/if}}

		{{#if (has-block "menu")}}
			<div class="twyr-list-item-menu">
				{{yield (component this.menuComponent xAlign="right") to="menu"}}
			</div>
		{{/if}}
	</div>

	{{#if (has-block "content")}}
		<div
			class="twyr-list-item-content"
			{{has-class-if (not this.expanded) "hidden"}}
			{{store-element (fn this.hasContentBlock true)}}
		>
			{{yield to="content"}}
		</div>
	{{else}}
		<span class="max-w-0 max-h-0 hidden" {{store-element (fn this.hasContentBlock false)}} />
	{{/if}}
</li>
