@layer components {
	.tailwind .twyr-pagination,
	.twyr-pagination.tailwind {
		& > .twyr-pagination-count {
			& > .twyr-button {
				@apply rounded-none;
			}
		}

		& > ul > .twyr-pagination-item {
			@apply mx-0.5;

			& > .twyr-button {
				@apply border rounded-none;
			}
		}
	}
}
