@layer components {
	.material .twyr-modal-container > .twyr-modal,
	.twyr-modal-container > .twyr-modal.material {
		@apply xl:elevation-6;
		@apply xl:rounded;

		& > .twyr-modal-header {
			@apply m-0 border-0 p-0 px-6 pt-2.5;

			> .twyr-modal-header-title {
				@apply m-0 border-0 p-0;
				@apply pr-6 pb-2.5;
				@apply font-medium text-xl leading-8;

				letter-spacing: 0.0125em;
			}
		}

		& > .twyr-modal-body {
			@apply m-0 border-0 p-0 px-6 pb-5;
		}

		& > .twyr-modal-footer {
			@apply m-0 border-0 p-2;
		}
	}
}
