<ul
	class="twyr-breadcrumb-container"

	{{store-element this.storeElement}}
	{{watch-design-system-change this.onDesignSystemChange}}

	...attributes
>
	{{#each this.crumbs as |crumb|}}
		<li
			class="twyr-breadcrumb"
			{{store-element this.setCrumbElement crumb}}
		/>
	{{/each}}
</ul>
