@layer components {
	.twyr-modal-container {
		@apply inset-0 z-30;
		@apply m-0 border-0 p-0 xl:p-8 bg-transparent;
		@apply flex flex-row justify-start content-start items-stretch;

		&.left {
			@apply xl:justify-start;
		}

		&.center {
			@apply xl:justify-center;
		}

		&.right {
			@apply xl:justify-end;
		}

		&.top {
			@apply xl:content-start xl:items-start;
		}

		&.middle {
			@apply xl:content-center xl:items-center;
		}

		&.bottom {
			@apply xl:content-end xl:items-end;
		}

		& > .twyr-modal {
			@apply min-w-full w-full max-w-full xl:min-w-0 xl:w-auto xl:max-w-full;
			@apply min-h-0 h-auto;
			@apply flex flex-col justify-start content-start items-stretch;
			@apply m-0 border p-0;
			@apply overflow-hidden;
			@apply overscroll-contain;

			&.black {
				@apply border-black;
			}

			&.darkest {
				@apply border-darkest;
			}

			&.darker {
				@apply border-darker;
			}

			&.dark {
				@apply border-dark;
			}

			&.light {
				@apply border-light;
			}

			&.lighter {
				@apply border-lighter;
			}

			&.lightest {
				@apply border-lightest;
			}

			&.white {
				@apply border-white;
			}

			&.primary {
				@apply border-primary;
			}

			&.secondary {
				@apply border-secondary;
			}

			&.tertiary {
				@apply border-tertiary;
			}

			&.success {
				@apply border-success;
			}

			&.info {
				@apply border-info;
			}

			&.warning {
				@apply border-warning;
			}

			&.error {
				@apply border-error;
			}
		}
	}
}
