@layer components {
	.twyr-modal-container > .twyr-modal > .twyr-modal-footer {
		@apply flex-none flex flex-row flex-wrap justify-end content-center items-center;
	}

	.twyr-modal-container > .twyr-modal.black > .twyr-modal-footer {
		@apply border-black;
	}

	.twyr-modal-container > .twyr-modal.darkest > .twyr-modal-footer {
		@apply border-darkest;
	}

	.twyr-modal-container > .twyr-modal.darker > .twyr-modal-footer {
		@apply border-darker;
	}

	.twyr-modal-container > .twyr-modal.dark > .twyr-modal-footer {
		@apply border-dark;
	}

	.twyr-modal-container > .twyr-modal.light > .twyr-modal-footer {
		@apply border-light;
	}

	.twyr-modal-container > .twyr-modal.lighter > .twyr-modal-footer {
		@apply border-lighter;
	}

	.twyr-modal-container > .twyr-modal.lightest > .twyr-modal-footer {
		@apply border-lightest;
	}

	.twyr-modal-container > .twyr-modal.white > .twyron-modal-footer {
		@apply border-white;
	}

	.twyr-modal-container > .twyr-modal.primary > .twyr-modal-footer {
		@apply border-primary;
	}

	.twyr-modal-container > .twyr-modal.secondary > .twyr-modal-footer {
		@apply border-secondary;
	}

	.twyr-modal-container > .twyr-modal.tertiary > .twyr-modal-footer {
		@apply border-tertiary;
	}

	.twyr-modal-container > .twyr-modal.success > .twyr-modal-footer {
		@apply border-success;
	}

	.twyr-modal-container > .twyr-modal.info > .twyr-modal-footer {
		@apply border-info;
	}

	.twyr-modal-container > .twyr-modal.warning > .twyr-modal-footer {
		@apply border-warning;
	}

	.twyr-modal-container > .twyr-modal.error > .twyr-modal-footer {
		@apply border-error;
	}
}
