@layer components {
	.twyr-modal-container > .twyr-modal > .twyr-modal-header {
		@apply flex-none flex flex-row justify-start content-center items-center;

		& .twyr-modal-header-title {
			@apply flex-grow;
			@apply align-middle break-words overflow-hidden overflow-ellipsis;
		}

		& .twyr-modal-header-close {
			@apply flex-none;

			& .twyr-icon {
				@apply cursor-pointer;
				@apply text-3xl;
			}
		}
	}

	.twyr-modal-container > .twyr-modal.black > .twyr-modal-header {
		@apply border-black;
		@apply bg-black;
		@apply text-white;
	}

	.twyr-modal-container > .twyr-modal.darkest > .twyr-modal-header {
		@apply border-darkest;
		@apply bg-darkest;
		@apply text-lightest;
	}

	.twyr-modal-container > .twyr-modal.darker > .twyr-modal-header {
		@apply border-darker;
		@apply bg-darker;
		@apply text-lighter;
	}

	.twyr-modal-container > .twyr-modal.dark > .twyr-modal-header {
		@apply border-dark;
		@apply bg-dark;
		@apply text-light;
	}

	.twyr-modal-container > .twyr-modal.light > .twyr-modal-header {
		@apply border-light;
		@apply bg-light;
		@apply text-dark;
	}

	.twyr-modal-container > .twyr-modal.lighter > .twyr-modal-header {
		@apply border-lighter;
		@apply bg-lighter;
		@apply text-darker;
	}

	.twyr-modal-container > .twyr-modal.lightest > .twyr-modal-header {
		@apply border-lightest;
		@apply bg-lightest;
		@apply text-darkest;
	}

	.twyr-modal-container > .twyr-modal.white > .twyr-modal-header {
		@apply border-white;
		@apply bg-white;
		@apply text-black;
	}

	.twyr-modal-container > .twyr-modal.primary > .twyr-modal-header {
		@apply border-primary;
		@apply bg-primary;
	}

	.twyr-modal-container > .twyr-modal.secondary > .twyr-modal-header {
		@apply border-secondary;
		@apply bg-secondary;
	}

	.twyr-modal-container > .twyr-modal.tertiary > .twyr-modal-header {
		@apply border-tertiary;
		@apply bg-tertiary;
	}

	.twyr-modal-container > .twyr-modal.success > .twyr-modal-header {
		@apply border-success;
		@apply bg-success;
	}

	.twyr-modal-container > .twyr-modal.info > .twyr-modal-header {
		@apply border-info;
		@apply bg-info;
	}

	.twyr-modal-container > .twyr-modal.warning > .twyr-modal-header {
		@apply border-warning;
		@apply bg-warning;
	}

	.twyr-modal-container > .twyr-modal.error > .twyr-modal-header {
		@apply border-error;
		@apply bg-error;
	}
}
