{{!-- template-lint-disable no-invalid-interactive --}}
{{#if (and (and this.modal this.overlay) (or this.isOpen this.locked))}}
	<TwyrBackdrop @onClick={{this.onClickOutside}} />
{{/if}}
<div
	class="twyr-sidebar {{this.position}}"
	{{has-class-if this.modal "absolute"}}
	{{has-class-if (or this.isOpen this.locked) "open"}}
	{{store-element this.storeElement}}

	{{on-args-change this.registerWithControl @controlElement}}
	{{not-on "click" this.onClickOutside}}

	...attributes
>
	{{#if (has-block "header")}}
		<div class="twyr-sidebar-header">
			<div class="twyr-sidebar-header-text">
				{{yield to="header"}}
			</div>

			<div
				class="twyr-sidebar-header-icon"
				{{on "click" this._close}}
			>
				<TwyrIcon @icon="close" />
			</div>
		</div>
	{{/if}}

	{{#if (and (has-block "header") (has-block "content"))}}
		<TwyrDivider class="my-2" />
	{{/if}}

	{{#if (has-block "content")}}
		<div class="twyr-sidebar-content">
			{{yield to="content"}}
		</div>
	{{/if}}
</div>
