@layer components {
	.twyr-badge {
		@apply inline-block align-middle text-center;
		@apply pointer-events-none;

		padding: 0.35em 0.65em;
		font-size: 0.75em;
		line-height: 0.9em;

		&:empty {
			@apply hidden;
		}

		&.centered {
			@apply absolute inset-0;
			@apply flex flex-row justify-center content-center items-center;
		}

		&.floating {
			@apply absolute;
			@apply border;
		}

		&.black {
			@apply text-black;

			&:not(.centered) {
				border-color: var(--twyr-colour-black-alert-background);
				background-color: var(--twyr-colour-black-alert-background);
			}
		}

		&.darkest {
			@apply text-darkest;

			&:not(.centered) {
				border-color: var(--twyr-colour-darkest-alert-background);
				background-color: var(--twyr-colour-darkest-alert-background);
			}
		}

		&.darker {
			@apply text-darker;

			&:not(.centered) {
				border-color: var(--twyr-colour-darker-alert-background);
				background-color: var(--twyr-colour-darker-alert-background);
			}
		}

		&.dark {
			@apply text-dark;

			&:not(.centered) {
				border-color: var(--twyr-colour-dark-alert-background);
				background-color: var(--twyr-colour-dark-alert-background);
			}
		}

		&.light {
			@apply text-light;

			&:not(.centered) {
				border-color: var(--twyr-colour-light-alert-background);
				background-color: var(--twyr-colour-light-alert-background);
			}
		}

		&.lighter {
			@apply text-lighter;

			&:not(.centered) {
				border-color: var(--twyr-colour-lighter-alert-background);
				background-color: var(--twyr-colour-lighter-alert-background);
			}
		}

		&.lightest {
			@apply text-lightest;

			&:not(.centered) {
				border-color: var(--twyr-colour-lightest-alert-background);
				background-color: var(--twyr-colour-lightest-alert-background);
			}
		}

		&.white {
			@apply text-white;

			&:not(.centered) {
				border-color: var(--twyr-colour-white-alert-background);
				background-color: var(--twyr-colour-white-alert-background);
			}
		}

		&.primary {
			@apply text-primary;

			&:not(.centered) {
				border-color: var(--twyr-colour-primary-alert-background);
				background-color: var(--twyr-colour-primary-alert-background);
			}
		}

		&.secondary {
			@apply text-secondary;

			&:not(.centered) {
				border-color: var(--twyr-colour-secondary-alert-background);
				background-color: var(--twyr-colour-secondary-alert-background);
			}
		}

		&.tertiary {
			@apply text-tertiary;

			&:not(.centered) {
				border-color: var(--twyr-colour-tertiary-alert-background);
				background-color: var(--twyr-colour-tertiary-alert-background);
			}
		}

		&.success {
			@apply text-success;

			&:not(.centered) {
				border-color: var(--twyr-colour-success-alert-background);
				background-color: var(--twyr-colour-success-alert-background);
			}
		}

		&.info {
			@apply text-info;

			&:not(.centered) {
				border-color: var(--twyr-colour-info-alert-background);
				background-color: var(--twyr-colour-info-alert-background);
			}
		}

		&.warning {
			@apply text-warning;

			&:not(.centered) {
				border-color: var(--twyr-colour-warning-alert-background);
				background-color: var(--twyr-colour-warning-alert-background);
			}
		}

		&.error {
			@apply text-error;

			&:not(.centered) {
				border-color: var(--twyr-colour-error-alert-background);
				background-color: var(--twyr-colour-error-alert-background);
			}
		}
	}
}
